<div id="about-page">
  <h1>The Life of Nam</h1>
  <p>
    Detaillevel (slider)
    <select id="importance-slider">
      <option value="1">German Privacy Advocate</option>
      <option value="2" selected>Acquintance</option>
      <option value="3">Close Friend</option>
      <option value="4">Stalker</option>
    </select>
  </p>
  <p>
    Info Category
    <form action="" id="category-picker">
      <label for="checkbox1"><input type="checkbox" name="category picker" value='nerd' checked> Nerd  </input> </label>
      <label for="checkbox2"><input type="checkbox" name="category picker" value='traveler' checked> Traveler </input> </label>
      <label for="checkbox3"><input type="checkbox" name="category picker" value='worker' CHECKED> Worker </input> </label>
      <label for="checkbox3"><input type="checkbox" name="category picker" value='creative' CHECKED> Creative </input> </label>
    </form>
    
      
  </p>
  <ul id="about-timeline">
    <li class="about-timeline-entry flippable" data-importance='1'>
      <div class="about-timeline-entry-card">
        <img src="http://www.placehold.it/300x150" style='height:150px;' alt="">
        <h5>Credport</h5>
        <p>Co-Founded my first company with Connor, my roommate from college. Rollercoaster would be an understatement.</p>
        <footer>
          <div class="location">
            Boston, MA and Berlin, Germany
          </span>
          <div class="date">
            Since 2012
          </span>
          <div class="timeline-entry-tags">
            #nerd #worker
          </span>
        </footer>
      </div>
      
      <div class="about-timeline-entry-detail" style='width: 500%;'>
        <div class="margin-5">
          <h2><a href="https://www.credport.org">Credport</a></h2>
          <p>Credport is a trust platform for P2P marketplaces. It allows the portability of trust metrics such as reviews and social connections that are especially important for the Sharing Economy. Everything started with Connor's and mine passion for efficiency. We saw great potential in the model pioneered by Airbnb, but thought that the way we deal with trusting stangers online could be improved upon.</p>
          
          <p>
            Under the supervision of entrepreneurially-spirited Professor Byers at BU, I started to create the first prototype. Soon after, we were admitted to <a href="http://summer.hcp.com/">Summer@Highland</a>, an incredibly great and generous program for young entrepreneurs. Towards the end of the summer, we decided that we couldn't simply return to BU, which is why we applied to <a href="http://www.startupbootcamp.org/programs/berlin.html">Startupbootcamp Berlin</a>, got in and moved in with my parents.
          </p>
        </div>
      </div>
    </li>
    <li class="about-timeline-entry flippable" data-importance='1'>
      <div class="about-timeline-entry-card">
        <img src="http://www.placehold.it/300x150" style='height:150px;' alt="">
        <h5>Apture</h5>
        <p>Interned at the semantic-web, contextual search company Apture (acquired by Google in 2011). My first real job.</p>
        <footer>
          <div class="location">
            San Francisco, CA
          </span>
          <div class="date">
            Summer 2011
          </span>
          <div class="timeline-entry-tags">
            #nerd #worker
          </span>
        </footer>
      </div>
      
      <div class="about-timeline-entry-detail" style='width: 500%;'>
        <div class="margin-5">
          <h2>Apture</h2>
          <p>
            I have met Tristan at the Thiel Fellow event earlier the year and was immediately Tristan's passion and product sense. I told myself I had to work for him, no matter the outcome of the Thiel Fellow decision, and so I did.
          </p>
          
          <p>
            The beginning of my internship was quite scary, as I had no accomodation planned and it was the first time I had to dive into someone else's extensive code base. All while using a language and framework I never used before (Python/Django). Over time however, I get to appreciate all the things that make Silicon Valley one of the greatest places to work and live.
          </p>
          
          <p>
            Apture's product was (unfortunately discontinued) one of the greatest products of all time in my opinion. When you were reading something on the Internet, but didn't know what X or Y meant, you could simply highlight the term and Apture would give you a little popup with relevant information such as the entity's Wikipedia article, a Google Map, Youtube Videos, etc. It helped me tremendously as a non-native English speaker as well as fuel my curiosity. Before (and after :( ) Apture, I open up way too many Wikipedia articles in new tabs.
          </p>
          
          <p class="centered">
            <iframe class='centered video' width="50%" height='250' src="http://www.youtube.com/embed/frQxY7tANO8?list=UURBNnR7QQZdXFZL6_FfDiUw" frameborder="0" allowfullscreen></iframe>
          </p>
          
          
          <p>
            Among other things, I have sped up their local queries trenemendously and improved upon the UX of the map. Since users would generally look up locations of things they didn't know, a simple static map would often not be the best option. Instead, depending on the entity, we'd show a auto-zooming map to give context.
          </p>
        </div>
      </div>
    </li>
    <li class="about-timeline-entry flippable" data-importance='1'>
      <div class="about-timeline-entry-card">
        <img src="http://www.placehold.it/300x150" style='height:150px;' alt="">
        <h5>Boston University</h5>
        <p>Admitted into the Kilachand Honors College and awarded the full-tuition Trustee Scholarship. Pursued a B.A. in Computer Science with a cumulative GPA of X.xx and a Major GPA of X.xx.</p>
        <footer>
          <div class="location">
            Boston, MA
          </span>
          <div class="date">
            Since 2010
          </span>
          <div class="timeline-entry-tags">
            #nerd #worker
          </span>
        </footer>
      </div>
      <div class="about-timeline-entry-detail">
        <div class="margin-5">
          <h2>Boston University</h2>

        <p>
          I still count Boston University as one of the best things that could have happened to me. I grew tremendously as a person by immersing myself into American culture and getting to know people from all walks of life. It was also Boston that introduced my to Startups and Technology on a more professional scale.
        </p>
        
        <h5>
          Course Work
        </h5>
        
        <p>
          My Education has been deliberately more breath- than depth-focused. In my first two years in the Honors College, I had the fortunate of immersing myself into various disciplines. After my leave of absence, I have continued to gain the most of my education by broadening my horizon.
        </p>
        
        <p>
          While I'm certainly not the biggest fan of the very theory/acedemia-oriented CS curriculum at BU, I did had my fair share of interesting courses, Machine Learning being my favorite.
        </p>
        </div>
      </div>
    </li>
    <li class="about-timeline-entry flippable" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="http://www.placehold.it/300x150" style='height:150px;' alt="">
        <h5>Heinrich-Hertz-Gymnasium</h5>
        <p>Attended the selective science-oriented high school in Berlin, cumulating in the Abitur, the German high education entrance certificate with a GPA of 1.3 (1.0 being best)</p>
        <footer>
          <div class="location">
            Berlin, Germany
          </span>
          <div class="date">
            2003 - 2010
          </span>
          <div class="timeline-entry-tags">
            #nerd #worker
          </span>
        </footer>
      </div>
      
      <div class="about-timeline-entry-detail">
        <h2>Heinrich-Hertz-Gymnasium</h2>
        <p>
          I have loved my high school that allowed my to explore my academic interests among high-achieving peers. I have been class and school president and placed at the top of local and regional science olympiads.
        </p>
        <p>
          Only thing to complain about my high school is the quite devasting gender ratio of 1:5.
        </p>
      </div>
    </li>
    <li class="about-timeline-entry flippable" data-importance='3'>
      <div class="about-timeline-entry-card">
        <img src="http://www.placehold.it/300x150" style='height:150px;' alt="">
        <h5>Maps Offline</h5>
        <p>My first public side project ever.</p>
        <footer>
          <div class="location">
            Berlin, Germany
          </span>
          <div class="date">
            Summer 2008
          </span>
          <div class="timeline-entry-tags">
            #nerd
          </span>
        </footer>
      </div>
      
      <div class="about-timeline-entry-detail">
        <div class="margin-5">
          <h2>Maps Offline</h2>
          <p>
            I don't even know whether Maps Offline deserves the connotation of side-project as it never exceeded 300 lines of code. And those lines are probably the ugliest mankind has ever seen.
          </p>
          <p>
            All started with my desire for the iPhone. It came out earlier in the year and I just needed to have it. It was just too damn expensive. Next best thing: the iPod Touch. Problem: No Internet on the go in the wifi-wasteland that is Germany. Back then, my internal navigation system wasn't quite upto modern standards. So I wanted maps offline.
          </p>
          <p>
            Like all good product stories, I was looking for a solution, couldn't find one, so I decided to try to build me own. Which is easier said than done without prior programming knowledge. Or official API's in the pre AppStore-days. In the end, I managed to scramble something together and lo and behold, people actually liked what I was doing. Seeing five-digit download numbers for something like Maps Offline still baffles me.
          </p>
          <p>
            To date, I trace all of my major life events back to this moment. To get a glimpse at the great quality of Maps Offline, watch the following Video:
          </p>
          <p class="centered">
            <iframe width="50%" class='video' height="255" src="http://www.youtube.com/embed/UaSoCNGig68" frameborder="0" allowfullscreen></iframe>
          </p>
        </div>
      </div>
    </li>
    
  </ul>
</div>
