<%= stylesheet_link_tag "aroundtheworld", media: "all", "data-turbolinks-track" => true %>
<div id="cachedVideos"></div>
<div id="map"></div>
<div id="playlist"></div>
<a href="/" id="home">Back to nambrot.com</a>
<audio src="/einmalumdiewelt.mp3" id='song' preload="auto" loop />
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>

<script src="https://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/redux/1.0.1/redux.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react-redux/4.4.0/react-redux.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.min.js'></script>
<%= javascript_include_tag "aroundtheworld", "data-turbolinks-track" => true %>
