<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Raleway:400,700:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
<div id="hire-page" data-offcanvas class="off-canvas-wrap">
  <div class="inner-wrap">
  
    <aside class="right-off-canvas-menu" id="message-menu">
      <h3>Send a message</h3>
      <p>Send a message and I'll be sure to respond to you as quick as possible.</p>
       <form id="message-form" data-abide="ajax" class=''>
         <div class="large-12 columns">
           <label for="">Name:
           <input type="text" name="Name" placeholder="Mark Zuckerberg" required pattern="[a-zA-Z]+">
           </label>
           <small class="error">But who are you?</small>
         </div>
        
         <div class="large-12 columns">
           <label for="">Email:
           <input type="email" name="Email" placeholder="zuckdog@fb.com" required>
           </label>
           <small class="error">Can I please have your Email Address?</small>
         </div>
         
         <div class="large-12 columns">
           <label for="">Message:</label>
           <textarea name="Message" rows=7 required></textarea>
           <small class="error">You are a quiet one, aren't you?</small>
         </div>
         
         <button type="submit" class="button round">Submit</button>
       </form>
    </aside>
    <a class="exit-off-canvas"></a>
      
    <nav id="topbar">
      <h1>hire me</h1>
      <div class="right-off-canvas-toggle"></div>
    </nav>
    
    <section id="background">
      <div id="hired-card" class='hire-card'>
        <header>
          <h3>So close</h3>
        </header>
        <p>Thanks for your interest. Please contact me via the form below or via any of the services on the side bar.</p>
        <form id="hire-form" data-abide="ajax">
          <div class="large-12 columns">
            <label for="">Name:
            <input type="text" name="Name" placeholder="Mark Zuckerberg" required pattern="[a-zA-Z]+">
            </label>
            <small class="error">But who are you?</small>
          </div>
         
          <div class="large-12 columns">
            <label for="">Email:
            <input type="email" name="Email" placeholder="zuckdog@fb.com" required>
            </label>
            <small class="error">Can I please have your Email Address?</small>
          </div>
          
          <div class="large-12 columns">
            <label for="">Budget (optional): <span class="budget"></span>
            <div class="range-slider round" data-slider>
              <span class="range-slider-handle"></span>
              <span class="range-slider-active-segment"></span>
              <input type="hidden">
            </div>
            </label>
          </div>
          
          <div class="large-12 columns">
            <label for="">Message:</label>
            <textarea name="Message" rows=7 required></textarea>
            <small class="error">You are a quiet one, aren't you?</small>
          </div>
          
          <button type="submit" class="button round">Submit</button>
        </form>
      </div>
      <div id="tinder-card" class="hire-card">
        <span class="tooltip">Swipe me left or right.</span>
        <span id="hire">HIRE</span>
        <span id="fire">FIRE</span>
        <img src="<%= image_path 'profpic.jpg' %>" alt="">
        <div id="metainfo">
          <span id="name">Nam</span><span id="age">, 22</span>
          <span id="more-detail">
            <span id="title">Fullstack Developer</span>
            <span id="distance"></span>
          </span>
        </div>
        
        <div id="description">
          <header>
            About Nam Chu Hoai
          </header>
          <p>
            I'm a freelance product developer specializing in full-stack web development, building and shaping products from the ground up. My preferred stack is Heroku/Ruby on Rails/Foundation Zurb/Backbone.js which I have found to be the perfect balance between performance, development iteration speed and audience reach. However, I pride myself on following a non-dogmatic approach of choosing the right tool for the job.
          </p>
          <p>
            With my prior experience, I have come to appreciate how crucial the interplay between product/customer/business is, so I make sure to have the best customized solutions for my clients. You can read more about my previous work on my <a href="/about#categories:coder,worker,student;importance:4">about page</a> or just go ahead and swipe this card to the right
          </p>
        </div>
        
        
      </div>
      <div id="fired-card" class='hire-card'>
        <header>
          <h3>Are you sure?</h3>
        </header>
        <p>If you have changed your mind or just want to chat, we don't you fill out the form below or contact me via any of the services on the side bar.</p>
        <form id="fire-form" data-abide="ajax">
          <div class="large-12 columns">
            <label for="">Name:
            <input type="text" name="Name" placeholder="Mark Zuckerberg" required pattern="[a-zA-Z]+">
            </label>
            <small class="error">But who are you?</small>
          </div>
         
          <div class="large-12 columns">
            <label for="">Email:
            <input type="email" name="Email" placeholder="zuckdog@fb.com" required>
            </label>
            <small class="error">Can I please have your Email Address?</small>
          </div>
          
          <div class="large-12 columns">
            <label for="">Message:</label>
            <textarea name="Message" rows=7 required></textarea>
            <small class="error">You are a quiet one, aren't you?</small>
          </div>
          
          <button type="submit" class="button round">Submit</button>
        </form>
      </div>
      
    </section>
  </div>
 
</div>

<script type="text/javascript">
  setTimeout(function(){
    $(function(){

      $(document).foundation({
        abide: {
          live_validate: false
        }
      })

      $.get("http://ipinfo.io", function(response) {
          var mylat = 42.3529523,
              mylong = -71.1259286;
          var userlat = parseInt(response.loc.split(',')[0]),
              userlong = parseInt(response.loc.split(',')[1]);

          Number.prototype.toRad = function() {
            return this * Math.PI / 180;
          }

          calculateDistance = function(lat1, lon1, lat2, lon2) {
            var R = 6371; // km
            var dLat = (lat2 - lat1).toRad();
            var dLon = (lon2 - lon1).toRad(); 
            var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                    Math.cos(lat1.toRad()) * Math.cos(lat2.toRad()) * 
                    Math.sin(dLon / 2) * Math.sin(dLon / 2); 
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a)); 
            var d = R * c;
            return d;
          }

          $('#distance').text(parseInt(calculateDistance(mylat, mylong, userlat, userlong)) + " km away")
      }, "jsonp");

      $('#hire-form .range-slider').on('change', function(){
        $('#hire-form .budget').text("$" + Math.round($('#hire-form .range-slider').attr('data-slider') / 10) * 1000)
        if($('#hire-form .range-slider').attr('data-slider') == 100)
          $('#hire-form .budget').text("$10000+")
      })

      $('#hire-form').on('valid', function(evt){
        $.post('/forms/hire', {name: $("#hire-form [name='Name']").val(), name: $("#hire-form [name='Name']").val(), email: $("#hire-form [name='Email']").val(), message: $("#hire-form [name='Message']").val(), budget: $('#hire-form .budget').text()}, function(evt){
          $('#hired-card').append('<div data-alert class="alert-box">Thank You, I will be in contact shortly.<a href="#" class="close">&times;</a></div>')
        })
        return false;
      })

      $('#message-form').on('valid', function(evt){
        $.post('/forms/fire', {name: $("#message-form [name='Name']").val(), name: $("#message-form [name='Name']").val(), email: $("#message-form [name='Email']").val(), message: $("#message-form [name='Message']").val()}, function(evt){
          $('#message-menu').append('<div data-alert class="alert-box">Thank You, I will be in contact shortly.<a href="#" class="close">&times;</a></div>')
        })
        return false;
      })

      $('#fire-form').on('valid', function(evt){
        $.post('/forms/fire', {name: $("#fire-form [name='Name']").val(), name: $("#fire-form [name='Name']").val(), email: $("#fire-form [name='Email']").val(), message: $("#fire-form [name='Message']").val()}, function(evt){
          // $('#fire-form').slideUp(400);
          $('#fired-card').append('<div data-alert class="alert-box">CThank You, I will be in contact shortly.<a href="#" class="close">&times;</a></div>')
        })
        return false;
      })

      var card = $('#tinder-card')
      var hire_label = $('#hire')
      var fire_label = $('#fire')

      var manage_card_swipe = function(callback){
        this.options.revert = false;
        this.options.multiplier = 1.5;
        setTimeout( function(){
          $('#tinder-card').animate({opacity: 0}, 200)
          $.pep.unbind(card)
          callback()
        }, 1)
      }

      if(localStorage.getItem('swiped_hire_card') == null){
        localStorage.setItem('swiped_hire_card', true)
        $('#tinder-card .tooltip').addClass('show')
      }

      $('#tinder-card').pep({
        removeMargins: false,
        multiplier: 0.5,
        revert: true,
        useCSSTranslation: true,
        elementsWithInteraction: 'a,form',
        drag: function(){
          if(this.cssX > 0){
            fire_label.css({opacity: 0})
            hire_label.css({opacity: this.cssX / 70})
          }
          else{
            hire_label.css({opacity: 0})
            fire_label.css({opacity: -this.cssX / 70})
          }
            
        },
        stop: function(){
          hire_label.css({opacity: 0})
          fire_label.css({opacity: 0})
          threshold = 80
          if(this.cssX > threshold)
            manage_card_swipe.call(this, function(){
              $('#hired-card').addClass('show')
            })

          if(this.cssX < -threshold)
            manage_card_swipe.call(this, function(){
              $('#fired-card').addClass('show')
            })

        }
      });
    })
  }, 1000)
</script>