<article class="blog_post">
  <h2>Nam's Remote</h2>
  <p>Nam's Remote is unfortunately not available anymore. I no longer had the resources to keep maintaining it. I still feel nostalgic about it though. If you too, relive the good times with this video:</p>
  <p>
    <div class="flex-video">
      <iframe width="560" height="315" src="//www.youtube.com/embed/nMl1uPFDzj0" frameborder="0" allowfullscreen></iframe>
    </div>
  </p>
</article>