# = require jquery
# = require jquery_ujs
# = require leaflet
# = require leaflet.google
# = require ahoy
ahoy.trackAll()

internalState = {}
initalPlayListHint = false
cacheSize = 15

emptyReducer = (state = { firstPlay: false, zoomedIn: false }, action) ->
  switch action.type
    when 'FIRST_PLAY'
      firstPlay: true
    else
      state

window.emptyStore = Redux.createStore(emptyReducer, {})

queueReducer = (state = { queue: [], preloadCache: {}, currentActive: -1, nextPlayTimeout: null, playerState: 'stop', zoomedIn: false}, action) ->
  indexOf = (id) -> state.queue.indexOf(id)

  nextId = (id) ->
    state.queue[(indexOf(id) + 1) % state.queue.length]

  preloadVideos = (id, count = 5) ->
    return if count == 0
    newId = nextId(id)
    setTimeout (->
      store.dispatch type: 'PRELOAD_VIDEO', id: newId
      preloadVideos(newId, count - 1)
    ), 1
  cacheVideo = (id, autoplay) ->
    el = $("<div id='cachedVideo#{id}' class='youtubeplayer hidden'></div>")
    $('#cachedVideos').append(el)
    new YT.Player("cachedVideo#{id}", {
      width: 900,
      height: 400,
      videoId: id,
      playerVars: {
        autohide: 1,
        autoplay: autoplay,
        controls: 0,
        showinfo: 0,
        rel: 0,
        modestbranding: 1
      },
      events:
        onReady: (event) ->
            event.target.playVideo() if autoplay
        onStateChange: (event) ->
          store.dispatch type: 'INITIAL_AUTO_PLAY_STARTED', id: id if event.data == 1
          store.dispatch type: 'PLAY_ENDED', id: id if event.data == 0
          store.dispatch type: 'PAUSE_VIDEO', id: id if event.data == 2
    })
  removeVideo = (id, player) ->
    player.destroy()
    $("#cachedVideo#{id}").remove()
  addToCache = (preloadCache, id, autoplay = true) ->
    newVideo = cacheVideo(id, autoplay)
    newPreloadCache = null
    if _.size(preloadCache) > cacheSize
      firstKey = _.keys(preloadCache)[0]
      removeVideo(firstKey, state.preloadCache[firstKey].ytPlayer)
      newPreloadCache = _.omitBy(preloadCache, (val, key) -> key == firstKey)
    else
      newPreloadCache = preloadCache
    Object.assign {}, newPreloadCache, "#{id}": { ytPlayer: newVideo }
  hideVideo = (id) ->
    $("#cachedVideo#{id}").addClass('hidden')
    state.preloadCache[id].ytPlayer.pauseVideo()
    # try removing the object for performance
    delete state.preloadCache[id]
    $("#cachedVideo#{id}").remove()
  showVideo = (id, play = true) ->
    if state.preloadCache[id].ytPlayer.seekTo
      if play
        state.preloadCache[id].ytPlayer.playVideo()
        state.preloadCache[id].ytPlayer.seekTo(0)
        document.getElementById('song').play()
      $("#cachedVideo#{id}").removeClass('hidden')
      preloadVideos(id)
    else
      setTimeout (-> showVideo(id, play)), 100
  pauseVideo = (id) ->
    if state.preloadCache[id].ytPlayer.pauseVideo
      state.preloadCache[id].ytPlayer.pauseVideo()
  playVideo = (id) ->
    if state.preloadCache[id].ytPlayer.playVideo
      state.preloadCache[id].ytPlayer.playVideo()
      document.getElementById('song').play()

  switch action.type
    when 'PRELOAD_VIDEO'
      if state.preloadCache[action.id]
        state
      else
        id = action.id
        newState = Object.assign {}, state, preloadCache: addToCache(state.preloadCache, id, action.autoplay)
        newState
    when 'CONTINUE_PLAY'
      id = state.queue[state.currentActive]
      playVideo(id)
      timeout = setTimeout (-> store.dispatch type: 'PLAY_ENDED', id: id), 3000
      if state.zoomedIn
        map.setView [-35, -130], 2
      Object.assign {}, state, nextPlayTimeout: timeout, playerState: 'play', zoomedIn: false
    when 'PLAY_VIDEO'
      emptyStore.dispatch type: 'FIRST_PLAY'
      clearTimeout(state.nextPlayTimeout)
      if state.currentActive != -1 and state.currentActive != indexOf(action.id)
        hideVideo state.queue[state.currentActive]

      if state.currentActive == indexOf(action.id)
        if state.playerState == 'play'
          if state.preloadCache[action.id].ytPlayer?
            newId = action.id
            showVideo(newId)
            ahoy.track('AROUND_THE_WORLD_PLAY_VIDEO', id: newId)
            if state.preloadCache[action.id].ytPlayer?.getPlayerState() == 3
              timeout == null
            else
              timeout = setTimeout (-> store.dispatch type: 'PLAY_ENDED', id: newId), 3000
            Object.assign {}, state, currentActive: indexOf(newId), nextPlayTimeout: timeout, playerState: 'play', zoomedIn: false
          else
            setTimeout (-> store.dispatch type: 'PLAY_VIDEO', id: action.id), 100
            state
        else
          if state.zoomedIn
            map.setView [-35, -130], 2
          Object.assign {}, state, zoomedIn: false
      else
        if state.preloadCache[action.id]
          newId = action.id
          showVideo(newId)
          if state.preloadCache[action.id].ytPlayer?.getPlayerState() == 3
            timeout == null
          else
            timeout = setTimeout (-> store.dispatch type: 'PLAY_ENDED', id: newId), 3000

          Object.assign {}, state, currentActive: indexOf(newId), nextPlayTimeout: timeout, playerState: 'play', zoomedIn: false
        else
          setTimeout (-> store.dispatch type: 'PLAY_VIDEO', id: action.id), 100
          Object.assign {}, queueReducer(state, { type: 'PRELOAD_VIDEO', id: action.id }), currentActive: indexOf(action.id), nextPlayTimeout: null
    when 'INITIAL_AUTO_PLAY_STARTED'
      id = action.id
      unless initalPlayListHint
        initalPlayListHint = true


      if state.currentActive == indexOf(id)
        if state.zoomedIn
          map.setView [-35, -130], 2
        newState = Object.assign {}, state, playerState: 'play', zoomedIn: false
        unless state.nextPlayTimeout
          newState.nextPlayTimeout = setTimeout (-> store.dispatch type: 'PLAY_ENDED', id: id), 3000
        document.getElementById('song').play()
        newState
      else
        if state.currentActive == -1 and indexOf(id) == 0
          queueReducer(state, { type: 'PLAY_VIDEO', id: action.id })
        else
          state.preloadCache[id].ytPlayer.pauseVideo()
          state.preloadCache[id].ytPlayer.setPlaybackQuality('hd720')
          state.preloadCache[id].ytPlayer.seekTo(0)
          state.preloadCache[id].ytPlayer.setPlaybackQuality('hd720')
          state
    when 'PLAY_ENDED'
      clearTimeout(state.nextPlayTimeout)
      newId = nextId(action.id)
      showVideo(newId)
      hideVideo action.id
      ahoy.track('AROUND_THE_WORLD_SHOW_NEXT_VIDEO', id: newId)
      timeout = setTimeout (-> store.dispatch type: 'PLAY_ENDED', id: newId), 3000
      Object.assign {}, state, currentActive: indexOf(newId), nextPlayTimeout: timeout, playerState: 'play'
    when 'PAUSE_VIDEO'
      if state.currentActive == indexOf(action.id)
        clearTimeout state.nextPlayTimeout
        document.getElementById('song').pause()
        if !state.zoomedIn
          weirdstate = mapStateToProps(store.getState())
          newLoc = weirdstate.items[weirdstate.currentActive].coordinates
          map.setView [newLoc[1], newLoc[0]], 10
          map.panBy L.point(-400, 0), animate: false
        Object.assign {}, state, nextPlayTimeout: null, playerState: 'pause', zoomedIn: true
      else
        state
    when 'USER_PAUSE'
      id = state.queue[state.currentActive]
      pauseVideo(id)
      Object.assign {}, state, zoomedIn: true
    when 'ADD_TO_QUEUE'
      _.assign {}, state, queue: state.queue.concat([action.properties.id])
    when 'SHUFFLE_QUEUE'
      _.assign {}, state, queue: _.shuffle(state.queue)
    when 'SHOW_VIDEO'
      showVideo(action.id, false)
      state
    when 'CACHE_FIRST'
      id = state.queue[0]
      newState = queueReducer(state, { type: 'PRELOAD_VIDEO', id: id, autoplay: false})
      queueReducer(newState, { type: 'SHOW_VIDEO', id: id})
    else
      state

properties = (state = {}, action) ->
  switch action.type
    when 'ADD_TO_QUEUE'
      _.assign {}, state, { "#{action.properties.id}": action.properties}
    else
      state

reducer = Redux.combineReducers queueReducer: queueReducer, properties: properties
window.store = Redux.createStore(reducer, {})

PlayListItem = React.createClass
  onClick: (evt) ->
    store.dispatch type: 'PLAY_VIDEO', id: @props.item.id
  render: ->
    <div className="PlayListItem #{if @props.item.isActive then @props.item.playerState else ''}">
      <span className='title' onClick={@onClick}>{ @props.item.name }</span>
    </div>

PlayList = React.createClass
  getInitialState: ->
    isHover: false
    shownInit: false
  onMouseEnter: ->
    @setState isHover: true
  onMouseLeave: ->
    @setState isHover: false
  componentDidUpdate: (prevProps, prevState) ->
    if prevState.isHover and !@state.isHover
      @refs.container.scrollTop = 0
    if !prevState.isHover and @state.isHover
      setTimeout (=>
        @refs.container.scrollTop = _.max([this.props.currentActive - 3, 0]) * 38
        ), 250
  componentDidMount: ->
    emptyStore.subscribe =>
      if !@state.shownInit and emptyStore.getState().firstPlay
        @setState shownInit: true, isHover: true
        $('#playlist').addClass('hover')
        setTimeout (=>
          @setState isHover: false
          $('#playlist').removeClass('hover')
          ), 4000
  render: ->
    rootStyle = height: '100%'
    containerStyle = if @state.isHover
                       height: '100%'
                       overflow: 'scroll'
                     else
                       height: '37px'
                       overflow: 'hidden'

    marginTop = if @state.isHover then 0 else Math.pow(@props.currentActive, 1.002) * -36.66
    scrollContainerStyle =
      'margin-top': "#{marginTop}px"

    <div className='PlayListMenu' style=rootStyle onMouseEnter={@onMouseEnter} onMouseLeave={@onMouseLeave}>
      <h1>Around the world with Nam</h1>
      <div className='PlayListContainer' style=containerStyle ref='container'>
        <div className='PlayListScrollContainer' style=scrollContainerStyle>
          {
            @props.items.map (item) ->
              <PlayListItem item=item key=item.id />
          }
        </div>
      </div>
    </div>

mapStateToProps = (state) ->
  items: state.queueReducer.queue.map (id, idx) ->
    Object.assign(
      {},
      state.properties[id],
      isActive: state.queueReducer.currentActive == idx or (state.queueReducer.currentActive == -1 and idx == 0)
      playerState: state.queueReducer.playerState
    )
  currentActive: if state.queueReducer.currentActive == -1 then 0 else state.queueReducer.currentActive
  zoomedIn: state.queueReducer.zoomedIn

PlayListContainer = ReactRedux.connect(mapStateToProps)(PlayList)
Root = ->
  <ReactRedux.Provider store={store}><PlayListContainer /></ReactRedux.Provider>

$(document).ready ->
  window.map = L.map('map').setView([-35, -130], 2)
  #map.addLayer(new L.Google('HYBRID'))
  L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.png', {
    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    subdomains: 'abcd'
  }).addTo(map)
  window.player = null
  React.render <Root />, document.getElementById('playlist')

  L.geoJson GEO_JSON,
    onEachFeature: (feature, layer) ->
      store.dispatch type: 'ADD_TO_QUEUE', properties: Object.assign({}, feature.properties, coordinates: feature.geometry.coordinates)
    pointToLayer: (feature, latlng) ->
      L.marker latlng,
        radius: 8,
        fillColor: "#ff7800",
        color: "#000",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8,
        title: "#{feature.properties.name}"
      .on 'click', (e) -> store.dispatch type: 'PLAY_VIDEO', id: feature.properties.id
  .addTo(map)

  store.dispatch type: 'SHUFFLE_QUEUE'
  setTimeout (-> store.dispatch type: 'CACHE_FIRST'), 500

  window.marker = L.marker([52.2510527778, 21.0113277778], {
                      zIndexOffset: 100,
                      title: 'Toggle zoom',
                      icon: L.icon({
                        iconUrl:  "<%= image_path 'namface' %>",
                        iconSize:     [38, 55]
                      })
                    })
                    .addTo(map)
                    .on 'click', (e) ->
                      state = mapStateToProps(store.getState())
                      newLoc = state.items[state.currentActive].coordinates
                      if state.zoomedIn
                        store.dispatch type: 'CONTINUE_PLAY'
                        map.setView [-35, -130], 2
                      else
                        store.dispatch type: 'USER_PAUSE'
                        map.setView [newLoc[1], newLoc[0]], 10
                        map.panBy L.point(-400, 0), animate: false

  lastLoc = [52.2510527778, 21.0113277778]

  store.subscribe ->
    state = mapStateToProps(store.getState())
    newLoc = state.items[state.currentActive].coordinates
    if !marker.getLatLng().equals(newLoc)
      marker.setLatLng lat: newLoc[1], lng: newLoc[0]

GEO_JSON = {
    "type": "FeatureCollection",
    "features": [
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    4.8984444444,
                    52.3738694444
                ]
            },
            "properties": {
                "id": "M0EIbx7K6Rk",
                "name": "Amsterdam, Netherlands",
                "description": "https://youtu.be/M0EIbx7K6Rk"
            }
        }, %>
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    103.8531166667,
                    1.2883388889
                ]
            },
            "properties": {
                "id": "rAeQaapa3N0",
                "name": "Singapore",
                "description": "https://youtu.be/rAeQaapa3N0"
            }
        }, %>
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    108.0000888889,
                    16.0430305556
                ]
            },
            "properties": {
                "id": "qDGERPkVMUo",
                "name": "Ba Na, Vietnam",
                "description": "https://youtu.be/qDGERPkVMUo"
            }
        }, %>
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    107.5773888889,
                    16.4700055556
                ]
            },
            "properties": {
                "id": "AGTnzZyZKy8",
                "name": "Hue, Vietnam",
                "description": "https://youtu.be/AGTnzZyZKy8"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    107.5903194444,
                    16.398775
                ]
            },
            "properties": {
                "id": "XVpMPlbaTZg",
                "name": "Hue, Vietnam",
                "description": "https://youtu.be/XVpMPlbaTZg"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    108.2825416667,
                    15.9766861111
                ]
            },
            "properties": {
                "id": "K7nFKJwbAwA",
                "name": "Danang, Vietnam",
                "description": "https://youtu.be/K7nFKJwbAwA"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    10.6191194444,
                    51.7986805556
                ]
            },
            "properties": {
                "id": "8Vb9NFKK1cI",
                "name": "Brocken, Germany",
                "description": "https://youtu.be/8Vb9NFKK1cI"
            }
        }, %>
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    21.0113277778,
                    52.2510527778
                ]
            },
            "properties": {
                "id": "nf9pAraanoQ",
                "name": "Warsaw, Poland",
                "description": "https://youtu.be/nf9pAraanoQ"
            }
        }, %>
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -90.1919861111,
                    38.6263
                ]
            },
            "properties": {
                "id": "mZK_csgGy8o",
                "name": "St. Louis, Missouri",
                "description": "https://youtu.be/mZK_csgGy8o"
            }
        }, %>
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -74.432925,
                    39.3550361111
                ]
            },
            "properties": {
                "id": "xQHlraHVcts",
                "name": "Atlantic City, New Jersey",
                "description": "https://youtu.be/xQHlraHVcts"
            }
        }, %>
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -75.1803111111,
                    39.965125
                ]
            },
            "properties": {
                "id": "H3rIuxtBpzQ",
                "name": "Philadelphia, Pennsylvania",
                "description": "https://youtu.be/H3rIuxtBpzQ"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -79.9085944444,
                    32.7911361111
                ]
            },
            "properties": {
                "id": "H_Spp6KJPDU",
                "name": "Charleston, South Carolina",
                "description": "https://youtu.be/H_Spp6KJPDU"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    9.982125,
                    46.4415444444
                ]
            },
            "properties": {
                "id": "nhI4vH_7XtM",
                "name": "Bernina, Switzerland",
                "description": "https://youtu.be/nhI4vH_7XtM"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    8.5434694444,
                    47.3701166667
                ]
            },
            "properties": {
                "id": "7C3X5sS_918",
                "name": "Zurich, Switzerland",
                "description": "https://youtu.be/7C3X5sS_918"
            }
        }, %>
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -80.1291416667,
                    25.7849388889
                ]
            },
            "properties": {
                "id": "w5WO-ydC7QY",
                "name": "Miami, Florida",
                "description": "https://youtu.be/w5WO-ydC7QY"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -73.9736138889,
                    40.768325
                ]
            },
            "properties": {
                "id": "E7VttV2k_58",
                "name": "Central Park, New York",
                "description": "https://youtu.be/E7VttV2k_58"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -74.0102638889,
                    40.7068555556
                ]
            },
            "properties": {
                "id": "f4EvTyaXQwY",
                "name": "Wall Street, New York City",
                "description": "https://youtu.be/f4EvTyaXQwY"
            }
        }, %>
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -77.0070527778,
                    38.8898166667
                ]
            },
            "properties": {
                "id": "xOuKeqxlcPA",
                "name": "Washington, DC",
                "description": "https://youtu.be/xOuKeqxlcPA"
            }
        }, %>
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -77.0365305556,
                    38.8985833333
                ]
            },
            "properties": {
                "id": "lVU7nd8rBi0",
                "name": "White House, Washington D.C.",
                "description": "https://youtu.be/lVU7nd8rBi0"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -77.0483277778,
                    38.889225
                ]
            },
            "properties": {
                "id": "hMRxgTxdXtU",
                "name": "Washington, DC",
                "description": "https://youtu.be/hMRxgTxdXtU"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -85.6870416667,
                    10.5684666667
                ]
            },
            "properties": {
                "id": "-2b2qHST6QU",
                "name": "Coco Beach, Costa Rica",
                "description": "https://youtu.be/-2b2qHST6QU"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -64.9565055556,
                    18.3183305556
                ]
            },
            "properties": {
                "id": "gClVhTghv3c",
                "name": "Water Island, US Virgin Islands",
                "description": "https://youtu.be/gClVhTghv3c"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    103.859,
                    1.2838472222
                ]
            },
            "properties": {
                "id": "fLlsV_s4nLU",
                "name": "Marina Bay Sands, Singapore",
                "description": "https://youtu.be/fLlsV_s4nLU"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    105.8202333333,
                    21.0842111111
                ]
            },
            "properties": {
                "id": "9fp6ODUt4SM",
                "name": "Thon Bac, Vietnam",
                "description": "https://youtu.be/9fp6ODUt4SM"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    105.8650027778,
                    20.2745388889
                ]
            },
            "properties": {
                "id": "V2TtdFD70N8",
                "name": "Bai Dinh, Vietnam",
                "description": "https://youtu.be/V2TtdFD70N8"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    105.8994277778,
                    20.2620083333
                ]
            },
            "properties": {
                "id": "-9X4v_9smm8",
                "name": "Hang Sang, Vietnam",
                "description": "https://youtu.be/-9X4v_9smm8"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    106.7240027778,
                    22.8547555556
                ]
            },
            "properties": {
                "id": "4GUFF0QKB50",
                "name": "Ban Gioc, Vietnam",
                "description": "https://youtu.be/4GUFF0QKB50"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    106.7063555556,
                    22.8441972222
                ]
            },
            "properties": {
                "id": "5LkGhFBwABs",
                "name": "Nguom Ngao, Vietnam",
                "description": "https://youtu.be/5LkGhFBwABs"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    101.6934138889,
                    3.1485138889
                ]
            },
            "properties": {
                "id": "L6NtPZdO3E0",
                "name": "Kuala Lumpur, Malaysia",
                "description": "https://youtu.be/L6NtPZdO3E0"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -71.6893527778,
                    43.4777611111
                ]
            },
            "properties": {
                "id": "KTIk7scgpKs",
                "name": "Franklin, New Hampshire",
                "description": "https://youtu.be/KTIk7scgpKs"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -71.5605694444,
                    42.496575
                ]
            },
            "properties": {
                "id": "JfMR2_xxXZk",
                "name": "Harvard, Massachussetts",
                "description": "https://youtu.be/JfMR2_xxXZk"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -72.7396222222,
                    44.35265
                ]
            },
            "properties": {
                "id": "tQpsQ2wM4-U",
                "name": "Ben & Jerry's, Vermont",
                "description": "https://youtu.be/tQpsQ2wM4-U"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -72.8155611111,
                    44.5420472222
                ]
            },
            "properties": {
                "id": "EJLm-FMrZ2Q",
                "name": "Mt. Mansfield, Vermont",
                "description": "https://youtu.be/EJLm-FMrZ2Q"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -71.1298972222,
                    42.3595555556
                ]
            },
            "properties": {
                "id": "ItxP2EcoGIw",
                "name": "Allston, Massachussetts",
                "description": "https://youtu.be/ItxP2EcoGIw"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -77.03275,
                    39.4051888889
                ]
            },
            "properties": {
                "id": "TrxCZnfodzk",
                "name": "Sykesville, Maryland",
                "description": "https://youtu.be/TrxCZnfodzk"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    23.7202222222,
                    37.9712972222
                ]
            },
            "properties": {
                "id": "PG0x97OGD6U",
                "name": "Athens, Greece",
                "description": "https://youtu.be/PG0x97OGD6U"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    23.7410027778,
                    37.9685388889
                ]
            },
            "properties": {
                "id": "UpY3g0iYsRk",
                "name": "Panathenic Statdium, Athens, Greece",
                "description": "https://youtu.be/UpY3g0iYsRk"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    22.5006333333,
                    38.4824472222
                ]
            },
            "properties": {
                "id": "hekWBuRoqXE",
                "name": "Delphi, Greece",
                "description": "https://youtu.be/hekWBuRoqXE"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    23.1304555556,
                    37.4234416667
                ]
            },
            "properties": {
                "id": "R4LR_pg5-pE",
                "name": "Frankhthi Cave, Greece",
                "description": "https://youtu.be/R4LR_pg5-pE"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    23.1679861111,
                    37.4696833333
                ]
            },
            "properties": {
                "id": "9BBV3l8B5w4",
                "name": "Didima, Greece",
                "description": "https://youtu.be/9BBV3l8B5w4"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    11.7639861111,
                    47.1932611111
                ]
            },
            "properties": {
                "id": "06FyXz1p1zI",
                "name": "Tux, Austria",
                "description": "https://youtu.be/06FyXz1p1zI"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -19.9894305556,
                    63.6160777778
                ]
            },
            "properties": {
                "id": "BSY8hBLS-Ds",
                "name": "Seljalandsfoss, Iceland",
                "description": "https://youtu.be/BSY8hBLS-Ds"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -19.5132,
                    63.5282138889
                ]
            },
            "properties": {
                "id": "yKoX-ahqFfs",
                "name": "Skogafoss, Iceland",
                "description": "https://youtu.be/yKoX-ahqFfs"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -19.0439833333,
                    63.4030916667
                ]
            },
            "properties": {
                "id": "lEEQzyE9W5s",
                "name": "Reynisfjara, Iceland",
                "description": "https://youtu.be/lEEQzyE9W5s"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -16.1734194444,
                    64.0439638889
                ]
            },
            "properties": {
                "id": "rjjwWx03DbA",
                "name": "Jokulsarloon, Iceland",
                "description": "https://youtu.be/rjjwWx03DbA"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -16.1792555556,
                    64.05095
                ]
            },
            "properties": {
                "id": "7_bjl8yh5HE",
                "name": "Jokulsarloon, Iceland",
                "description": "https://youtu.be/7_bjl8yh5HE"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -16.9710444444,
                    64.0171277778
                ]
            },
            "properties": {
                "id": "0h0Mb1XKZLE",
                "name": "Skaftafell, Iceland",
                "description": "https://youtu.be/0h0Mb1XKZLE"
            }
        }, %>
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -20.1212416667,
                    64.3272444444
                ]
            },
            "properties": {
                "id": "saLOxSw2L2Y",
                "name": "Gulfoss, Iceland",
                "description": "https://youtu.be/saLOxSw2L2Y"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -71.0654194444,
                    42.3561111111
                ]
            },
            "properties": {
                "id": "H4RwImYZcks",
                "name": "Boston, Massachusetts",
                "description": "https://youtu.be/H4RwImYZcks"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -71.0692305556,
                    42.4071944444
                ]
            },
            "properties": {
                "id": "_4a_p_ql1p0",
                "name": "Everett, Massachusetts",
                "description": "https://youtu.be/_4a_p_ql1p0"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -85.3195916667,
                    35.0194277778
                ]
            },
            "properties": {
                "id": "nBUal4rE_Cw",
                "name": "Chattanooga, Tennessee",
                "description": "https://youtu.be/nBUal4rE_Cw"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -84.2214611111,
                    34.8882722222
                ]
            },
            "properties": {
                "id": "jj_VekVjHSQ",
                "name": "Tank Town, Georgia",
                "description": "https://youtu.be/jj_VekVjHSQ"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    12.5474527778,
                    54.4571972222
                ]
            },
            "properties": {
                "id": "h1GJwdm4IKM",
                "name": "Prerow, Germany",
                "description": "https://youtu.be/h1GJwdm4IKM"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    5.6929805556,
                    50.8462777778
                ]
            },
            "properties": {
                "id": "zPeWiVbFVn4",
                "name": "Maastricht, Netherlands",
                "description": "https://youtu.be/zPeWiVbFVn4"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -72.7597138889,
                    42.4820888889
                ]
            },
            "properties": {
                "id": "SU_KemdiG_0",
                "name": "Ashfield, Massachusetts",
                "description": "https://youtu.be/SU_KemdiG_0"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -71.9271,
                    43.817725
                ]
            },
            "properties": {
                "id": "CQzXai1qhFM",
                "name": "Rumney, New Hampshire",
                "description": "https://youtu.be/CQzXai1qhFM"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -68.19575,
                    44.3397555556
                ]
            },
            "properties": {
                "id": "JoTYxDyelbw",
                "name": "Acadia, Maine",
                "description": "https://youtu.be/JoTYxDyelbw"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -72.622725,
                    42.2416111111
                ]
            },
            "properties": {
                "id": "Hvz_M1wGobY",
                "name": "Holyoke, Massachusetts",
                "description": "https://youtu.be/Hvz_M1wGobY"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -74.0168277778,
                    42.6559805556
                ]
            },
            "properties": {
                "id": "3blUKSQk0Vs",
                "name": "Albany, New York",
                "description": "https://youtu.be/3blUKSQk0Vs"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -87.6232972222,
                    41.8826277778
                ]
            },
            "properties": {
                "id": "gq0_WGNwJEA",
                "name": "Chicago, Illinois",
                "description": "https://youtu.be/gq0_WGNwJEA"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -88.0701083333,
                    44.4945194444
                ]
            },
            "properties": {
                "id": "HOM2kqXpPqY",
                "name": "Green Bay, Wisconsin",
                "description": "https://youtu.be/HOM2kqXpPqY"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -88.0628027778,
                    44.5009111111
                ]
            },
            "properties": {
                "id": "_kApNY9f764",
                "name": "Lambeau Field, Wisconsin",
                "description": "https://youtu.be/_kApNY9f764"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -117.1177222222,
                    36.6159527778
                ]
            },
            "properties": {
                "id": "VD8R2qxyhbg",
                "name": "Mesquite Dunes, California",
                "description": "https://youtu.be/VD8R2qxyhbg"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -117.1320055556,
                    36.5604944444
                ]
            },
            "properties": {
                "id": "fj7KUp0OKlg",
                "name": "Mosaic Canyon, California",
                "description": "https://youtu.be/fj7KUp0OKlg"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -117.2035722222,
                    36.802025
                ]
            },
            "properties": {
                "id": "zH1NIJKqMuY",
                "name": "Death Valley, California",
                "description": "https://youtu.be/zH1NIJKqMuY"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -116.8328666667,
                    36.4251555556
                ]
            },
            "properties": {
                "id": "YvnodlnigYY",
                "name": "Golden Canyon, California",
                "description": "https://youtu.be/YvnodlnigYY"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    18.421,
                    -33.9061
                ]
            },
            "properties": {
                "id": "GGzZzp13hmo",
                "name": "Capetown, South Africa",
                "description": "https://youtu.be/GGzZzp13hmo"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    18.4516805556,
                    -34.1979555556
                ]
            },
            "properties": {
                "id": "mJLvUf7hbGE",
                "name": "Boulders Beach, South Africa",
                "description": "https://youtu.be/mJLvUf7hbGE"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -8.4660166667,
                    37.0931277778
                ]
            },
            "properties": {
                "id": "wisVWS64ptU",
                "name": "Algar Seco, Portugal",
                "description": "https://youtu.be/wisVWS64ptU"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -8.8847305556,
                    37.962225
                ]
            },
            "properties": {
                "id": "TYlwGvX4fr8",
                "name": "Sines, Portugal",
                "description": "https://youtu.be/TYlwGvX4fr8"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -9.1335888889,
                    38.7136166667
                ]
            },
            "properties": {
                "id": "GZiCJWX6Mhs",
                "name": "Lisbon, Portugal",
                "description": "https://youtu.be/GZiCJWX6Mhs"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -9.2055111111,
                    38.6936166667
                ]
            },
            "properties": {
                "id": "g-GE45H06v4",
                "name": "Lisbon, Portugal",
                "description": "https://youtu.be/g-GE45H06v4"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    6.1232277778,
                    46.0872694444
                ]
            },
            "properties": {
                "id": "x19Fn1SOOG8",
                "name": "Geneva, Switzerland",
                "description": "https://youtu.be/x19Fn1SOOG8"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -3.7167472222,
                    40.4227916667
                ]
            },
            "properties": {
                "id": "oxosn-7rqoE",
                "name": "Madrid, Spain",
                "description": "https://youtu.be/oxosn-7rqoE"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -3.5987277778,
                    37.1755972222
                ]
            },
            "properties": {
                "id": "pCQQQJIbhJ0",
                "name": "Grenada, Spain",
                "description": "https://youtu.be/pCQQQJIbhJ0"
            }
        }, %>
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -3.5988333333,
                    37.1809638889
                ]
            },
            "properties": {
                "id": "dzHxDIakxW4",
                "name": "Grenada, Spain",
                "description": "https://youtu.be/dzHxDIakxW4"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -3.5848666667,
                    37.1762333333
                ]
            },
            "properties": {
                "id": "-_7jXTuRUjY",
                "name": "Alhambra, Grenada, Spain",
                "description": "https://youtu.be/-_7jXTuRUjY"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -5.9874888889,
                    37.3767861111
                ]
            },
            "properties": {
                "id": "5kOHzmf5raw",
                "name": "Plaza De Espana, Sevilla, Spain",
                "description": "https://youtu.be/5kOHzmf5raw"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -5.9874777778,
                    37.3797972222
                ]
            },
            "properties": {
                "id": "CgHugN0ndQ8",
                "name": "Sevilla, Spain",
                "description": "https://youtu.be/CgHugN0ndQ8"
            }
        }, %>
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    2.6703916667,
                    39.5593222222
                ]
            },
            "properties": {
                "id": "MXa7ghghzdc",
                "name": "Mallorca, Spain",
                "description": "https://youtu.be/MXa7ghghzdc"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    9.1901777778,
                    45.4638694444
                ]
            },
            "properties": {
                "id": "aiSKA5whwyw",
                "name": "Milan, Italy",
                "description": "https://youtu.be/aiSKA5whwyw"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    12.3388194444,
                    45.4365083333
                ]
            },
            "properties": {
                "id": "7MloU5AFkmU",
                "name": "Venice, Italy",
                "description": "https://youtu.be/7MloU5AFkmU"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    105.85285,
                    21.0307444444
                ]
            },
            "properties": {
                "id": "nvlmdHmzZNY",
                "name": "Hanoi, Vietnam",
                "description": "https://youtu.be/nvlmdHmzZNY"
            }
        }, %>
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    105.8878277778,
                    20.6403166667
                ]
            },
            "properties": {
                "id": "-12jntUEkiw",
                "name": "Ha Nam, Vietnam",
                "description": "https://youtu.be/-12jntUEkiw"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    105.8521583333,
                    21.0347527778
                ]
            },
            "properties": {
                "id": "_dfkPYReaxM",
                "name": "Hanoi, Vietnam",
                "description": "https://youtu.be/_dfkPYReaxM"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    105.85195,
                    21.0319138889
                ]
            },
            "properties": {
                "id": "a3RhE3juAoQ",
                "name": "Hanoi, Vietnam",
                "description": "https://youtu.be/a3RhE3juAoQ"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    106.3252305556,
                    20.8359138889
                ]
            },
            "properties": {
                "id": "Tnw07MXzIqQ",
                "name": "Nghia Hi, Vietnam",
                "description": "https://youtu.be/Tnw07MXzIqQ"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    105.8194305556,
                    21.0684194444
                ]
            },
            "properties": {
                "id": "Dzly4PmGlyM",
                "name": "Ho Tay, Hanoi, Vietnam",
                "description": "https://youtu.be/Dzly4PmGlyM"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    103.8343861111,
                    22.3299638889
                ]
            },
            "properties": {
                "id": "8mSMaCQAhIo",
                "name": "Sapa, Vietnam",
                "description": "https://youtu.be/8mSMaCQAhIo"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    103.7791805556,
                    22.3635638889
                ]
            },
            "properties": {
                "id": "wcarbd6nA88",
                "name": "Thac Bac, Vietnam",
                "description": "https://youtu.be/wcarbd6nA88"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    100.4928527778,
                    13.7517638889
                ]
            },
            "properties": {
                "id": "StfV6zyvMwU",
                "name": "Bangkok, Thailand",
                "description": "https://youtu.be/StfV6zyvMwU"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    100.493,
                    13.7516638889
                ]
            },
            "properties": {
                "id": "VzW_LL5H5pI",
                "name": "Bangkok, Thailand",
                "description": "https://youtu.be/VzW_LL5H5pI"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -72.9114777778,
                    43.1058333333
                ]
            },
            "properties": {
                "id": "n_8UgOXI3Sc",
                "name": "Stratton, Vermont",
                "description": "https://youtu.be/n_8UgOXI3Sc"
            }
        },
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -81.0926166667,
                    32.0756472222
                ]
            },
            "properties": {
                "id": "3x8pVwT6pkU",
                "name": "Savannah, Georgia",
                "description": "https://youtu.be/3x8pVwT6pkU"
            }
        }, %>
        <%# {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -84.4004972222,
                    33.7574361111
                ]
            },
            "properties": {
                "id": "ozOAeXFPe1E",
                "name": "Atlanta, Georgia",
                "description": "https://youtu.be/ozOAeXFPe1E"
            }
        }, %>
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -118.4938555556,
                    34.0084361111
                ]
            },
            "properties": {
                "id": "6U_Rfkqq0KI",
                "name": "Santa Monica, California",
                "description": "https://youtu.be/6U_Rfkqq0KI"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    10.0196361111,
                    46.4088222222
                ]
            },
            "properties": {
                "id": "uVO5fsAcOKk",
                "name": "Bernina, Switzerland",
                "description": "https://youtu.be/uVO5fsAcOKk"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -71.3374666667,
                    42.3442305556
                ]
            },
            "properties": {
                "id": "Sn8KJ7JRBOY",
                "name": "Wayland, Massachusetts",
                "description": "https://youtu.be/Sn8KJ7JRBOY"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    11.5485,
                    48.1328583333
                ]
            },
            "properties": {
                "id": "2tlV9GSoBtw",
                "name": "Oktoberfest, Munich, Germany",
                "description": "https://youtu.be/2tlV9GSoBtw"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -122.4481944444,
                    37.802875
                ]
            },
            "properties": {
                "id": "s-kgS8Rit3I",
                "name": "San Francisco, California",
                "description": "https://youtu.be/s-kgS8Rit3I"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    19.553091,
                    50.452938
                ]
            },
            "properties": {
                "id": "8yGt7iChVbU"
                "name": "Ogrodzieniec, Poland",
                "description": "https://youtu.be/8yGt7iChVbU"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    18.109205,
                    42.6425
                ]
            },
            "properties": {
                "id": "1MPJd_WAqTg"
                "name": "Dubrovnik, Croatia",
                "description": "https://youtu.be/1MPJd_WAqTg"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    17.701429,
                    42.844568
                ]
            },
            "properties": {
                "id": "BZgmCQAA7wY"
                "name": "Ston, Croatia",
                "description": "ttps://youtu.be/BZgmCQAA7wY"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    16.710795,
                    42.976096
                ]
            },
            "properties": {
                "id": "w9Uxv8AqIog"
                "name": "Korcula, Croatia",
                "description": "ttps://youtu.be/w9Uxv8AqIog"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    16.520502,
                    43.560043
                ]
            },
            "properties": {
                "id": "W-VWQ4hv0gw"
                "name": "Split, Croatia",
                "description": "https://youtu.be/W-VWQ4hv0gw"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    15.608838,
                    44.876757
                ]
            },
            "properties": {
                "id": "PAO9TQBSaYc"
                "name": "Plitvice, Croatia",
                "description": "https://youtu.be/PAO9TQBSaYc"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    19.08169,
                    47.518613
                ]
            },
            "properties": {
                "id": "3t2YejvrzTY"
                "name": "Budapest, Hungary",
                "description": "https://youtu.be/3t2YejvrzTY"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -71.329194,
                    42.401365
                ]
            },
            "properties": {
                "id": "lIo1HjzRoXg"
                "name": "Ponyhenge, Massachusetts",
                "description": "https://youtu.be/lIo1HjzRoXg"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -70.209585,
                    43.625456
                ]
            },
            "properties": {
                "id": "IHpq92-p344"
                "name": "Portland, Maine",
                "description": "https://youtu.be/IHpq92-p344"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -97.212403,
                    38.910343
                ]
            },
            "properties": {
                "id": "BrtWho5LRH4"
                "name": "Abilene, Kansas",
                "description": "ttps://youtu.be/BrtWho5LRH4"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -98.433702,
                    39.509223
                ]
            },
            "properties": {
                "id": "GAg7bvztlEo"
                "name": "Cawker City, Kansas",
                "description": "https://youtu.be/GAg7bvztlEo"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -109.740046,
                    38.470163
                ]
            },
            "properties": {
                "id": "qHkrGWx9V-Y"
                "name": "Dead Horse Point, Utah",
                "description": "https://youtu.be/qHkrGWx9V-Y"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -109.499312,
                    38.74363
                ]
            },
            "properties": {
                "id": "kBP6gKuaC6U"
                "name": "Delicate Arch, Utah",
                "description": "https://youtu.be/kBP6gKuaC6U"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -78.455833, -0.002222
                ]
            },
            "properties": {
                "id": "qgkjlE6rhyc"
                "name": "Ciudad Mitad del Mundo, Ecuador",
                "description": "https://youtu.be/qgkjlE6rhyc"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -76.163583, -0.069674
                ]
            },
            "properties": {
                "id": "f3be_y9IL34"
                "name": "Cuyabeno Reserve, Ecuador",
                "description": "https://youtu.be/f3be_y9IL34"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    128.8952264, 37.7735931
                ]
            },
            "properties": {
                "id": "GgN5rvy4X4I"
                "name": "Pyeongchang, South Korea",
                "description": "https://youtu.be/GgN5rvy4X4I"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    126.8539319, 37.4793755
                ]
            },
            "properties": {
                "id": "-09KcfXR9To"
                "name": "Seoul, South Korea",
                "description": "https://youtu.be/-09KcfXR9To"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    103.8892663, 13.4347497
                ]
            },
            "properties": {
                "id": "_-JcWcbhTO8"
                "name": "Angkor Wat, Cambodia",
                "description": "https://youtu.be/_-JcWcbhTO8"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    105.9339531, 20.2295613
                ]
            },
            "properties": {
                "id": "-xz0XAwE-U8"
                "name": "Hang Mua, Vietnam",
                "description": "https://youtu.be/-xz0XAwE-U8"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    81.0500474, 6.8557169
                ]
            },
            "properties": {
                "id": "gyBXDHcSKA8"
                "name": "Ella, Sri Lanka",
                "description": "https://youtu.be/gyBXDHcSKA8"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    57.4271677, 29.5927112
                ]
            },
            "properties": {
                "id": "YIn7_LI6Ue8"
                "name": "Rayen, Iran",
                "description": "https://youtu.be/YIn7_LI6Ue8"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    56.4587604, 31.0678141
                ]
            },
            "properties": {
                "id": "UmN2IXJH-TY"
                "name": "Dasht-e Khak, Iran",
                "description": "https://youtu.be/UmN2IXJH-TY"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    54.3628755, 31.8910236
                ]
            },
            "properties": {
                "id": "9FMkZHlffHo"
                "name": "Yazd, Iran",
                "description": "https://youtu.be/9FMkZHlffHo"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    51.677072, 32.6555799
                ]
            },
            "properties": {
                "id": "biysq8wRpHM"
                "name": "Isfahan, Iran",
                "description": "https://youtu.be/biysq8wRpHM"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    51.5903544, 33.5825659
                ]
            },
            "properties": {
                "id": "6jYqFYtAysI"
                "name": "Abyaneh, Iran",
                "description": "https://youtu.be/6jYqFYtAysI"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    51.4480714, 33.9849145
                ]
            },
            "properties": {
                "id": "j6_aPtS3W8w"
                "name": "Kashan, Iran",
                "description": "https://youtu.be/j6_aPtS3W8w"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    9.6636208, 45.7002975
                ]
            },
            "properties": {
                "id": "cZjQgIeI_us"
                "name": "Bergamo, Italy",
                "description": "https://youtu.be/cZjQgIeI_us"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    13.4190044, 52.5232608
                ]
            },
            "properties": {
                "id": "QiNIuuW5gek"
                "name": "Berlin, Germany",
                "description": "https://youtu.be/QiNIuuW5gek"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    34.8045991, 38.629646
                ]
            },
            "properties": {
                "id": "qzGCxiDHMW8"
                "name": "Cappadocia, Turkey",
                "description": "https://youtu.be/qzGCxiDHMW8"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    28.9783978, 41.0068963
                ]
            },
            "properties": {
                "id": "94OEKKCcbtk"
                "name": "Istanbul, Turkey",
                "description": "https://youtu.be/94OEKKCcbtk"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -105.2061, 39.6651
                ]
            },
            "properties": {
                "id": "R88Cmmp9ts8"
                "name": "Red Rocks Amphitheater, Colorado",
                "description": "https://youtu.be/R88Cmmp9ts8"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -110.4752632, 38.9315677
                ]
            },
            "properties": {
                "id": "a3QfyS-pT0g"
                "name": "Rest Area, Utah",
                "description": "https://youtu.be/a3QfyS-pT0g"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -110.807494, 38.594324
                ]
            },
            "properties": {
                "id": "uVIVAvO8ecM"
                "name": "Little Wild Horse Canyon, Utah",
                "description": "https://youtu.be/uVIVAvO8ecM"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -110.695506, 38.563926
                ]
            },
            "properties": {
                "id": "4HgP2ODD-Og"
                "name": "Goblin Valley, Utah",
                "description": "https://youtu.be/4HgP2ODD-Og"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -109.558500, 38.596400
                ]
            },
            "properties": {
                "id": "KQQc2os25PU"
                "name": "Slickrock Trail, Utah",
                "description": "https://youtu.be/KQQc2os25PU"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -108.7231615, 39.0905951
                ]
            },
            "properties": {
                "id": "-wchRkLapdA"
                "name": "Colorado National Monument, Colorado",
                "description": "https://youtu.be/-wchRkLapdA"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -90.643787, -0.613991
                ]
            },
            "properties": {
                "id": "LHVC7cHMvO4"
                "name": "Galapagos, Ecuador",
                "description": "https://youtu.be/LHVC7cHMvO4"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -76.177535, -0.011729
                ]
            },
            "properties": {
                "id": "3XPye7ehBZA"
                "name": "Napo River, Ecuador",
                "description": "https://youtu.be/3XPye7ehBZA"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -122.3502564, 47.6204851
                ]
            },
            "properties": {
                "id": "XPcuBNFzxIo"
                "name": "Seattle, Washington",
                "description": "https://youtu.be/XPcuBNFzxIo"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -121.0968799, 48.7101
                ]
            },
            "properties": {
                "id": "Bdp2vuxsPlM"
                "name": "North Cascades, Washington",
                "description": "https://youtu.be/Bdp2vuxsPlM"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -122.496052, 48.665855
                ]
            },
            "properties": {
                "id": "47vesYFrex8"
                "name": "Chuckanaut, Washington",
                "description": "https://youtu.be/47vesYFrex8"
            }
        },
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -122.496052, 48.665855
                ]
            },
            "properties": {
                "id": "hXzuzDOGCB4"
                "name": "Tiny Estates, Pennsylvania",
                "description": "https://youtu.be/hXzuzDOGCB4"
            }
        }
    ]
}
