<article class="blog_post">
  <h2>
    Gallery
  </h2>
  <p>
    Here is a small exerpt of creative endavours of mine. You should also check out <a href="/about">my about page</a> for some more.
  </p>
  <ul>
    <li><a href="#event">Event Photography</a></li>
    <li><a href="#still">Still Photography</a></li>
    <li><a href="#people">People Photography</a></li>
    <li><a href="#video">Video Stuff</a></li>
  </ul>
</article>
<div id='event' class="blog_post no_padding longer">
  <h2 style='padding: 6px 12px;'>Event Photography</h2>
  <div class="gallery-album-decorate" style='height: 400px;' data-gallery-id="5653037621016385233-google">
  </div>
</div>

<div id='still' class="blog_post no_padding longer">
  <h2 style='padding: 6px 12px;'>Still Photography</h2>
  <div class="gallery-album-decorate" style='height: 400px;' data-gallery-id="5654904207171792897-google">
  </div>
</div>

<div id='people' class="blog_post no_padding longer">
  <h2 style='padding: 6px 12px;'>People Photography</h2>
  <div class="gallery-album-decorate" style='height: 400px;' data-gallery-id="5654908934108049665-google">
  </div>
</div>

<div id='#video' class="blog_post">
  <h2 style=''>Video</h2>
  <p>
    Some video productions from high school. Quite embarrassing in hindsight, but we had the time of our lives doing it. Enjoy.
  </p>
  <p>
    <div class="flex_video">
      <iframe src="http://files.tubesnack.com/iframe/embed.html?hash=t7hjqhhv&wmode=window&bgcolor=FFFFFF&t=1376685779" width="640" height="535" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"></iframe>      
    </div>
    
  </p>
</div>