<% cache [@posts.first.updated_at, params[:tags]] do %>
<% if @posts.any? %>
  <% if params[:tags] %>
    <h4>Posts tagged '<%= params[:tags] %>'</h4>
  <% end %>
  <%= render partial: "posts/post_on_index_action",
    collection: @posts,
    as: :post,
    locals: {show_comments_count: false }  %>
<% end %>
<% end %>