<%= stylesheet_link_tag    "madagascar", media: "all", "data-turbolinks-track" => true %>
<div id="splitter" class='split-pane'>
  
  <div id="map" class='split-pane-component'></div>
  <nav id="madagascar-nav">
    <a id="dropdown-trigger" class='button' href="#" data-dropdown="dropdown-list">Table of Contents</a>
    <ul id="dropdown-list" class="f-dropdown" data-dropdown-content>
      <li><a href="/madagascar/introduction">Introduction</a></li>
      <li><a href="/madagascar/basics">Basics</a></li>
      <li><a href="/madagascar/legalcontext">Legal Context</a></li>
    </ul>
  </nav>
  <div id="splitter-divider"></div>
  <div id="madagascar-content" class=''>
    
    <section id="introduction" style='z-index: 30;'>
      <header style='background-image: url(http://img2.wikia.nocookie.net/__cb20130406180342/scratchpad/images/c/c3/Madagascar.jpg); background-size: cover;'>
 
      </header>

      <h1 class="subheader">Human Rights in Madagascar</h1>
      <h4 class='subheader'>An IR352 Group project about the situation in Madagascar</h4>
      <p>Some Really cool words about Madagascar</p>
      <p>Human Rights are cool</p>
      <p>Some things are bad in Madagascar</p>
      <p>Some things are good in Madagascar</p>
    </section>
    
    <section id="basics">
      <header style='background-image: url(http://www.dan-dare.org/FreeFun/Images/CartoonsMoviesTV/MadagascarWallpaper2800.jpg)'>
      
      </header>
      <h1 class="">Madagascar Basics</h1>
      <p>
        Madagascar, officially the Republic of Madagascar (Malagasy: Repoblikan'i Madagasikara [republiˈkʲan madaɡasˈkʲarə̥]; French: République de Madagascar) and previously known as the Malagasy Republic, is an island country in the Indian Ocean, off the coast of Southeast Africa. The nation comprises the island of Madagascar (the fourth-largest island in the world), as well as numerous smaller peripheral islands. Following the prehistoric breakup of the supercontinent Gondwana, Madagascar split from India around 88 million years ago, allowing native plants and animals to evolve in relative isolation. Consequently, Madagascar is a biodiversity hotspot; over 90 percent of its wildlife is found nowhere else on Earth. The island's diverse ecosystems and unique wildlife are threatened by the encroachment of the rapidly growing human population.
      </p>
      
      <p>
        Initial human settlement of Madagascar occurred between 350 BC and 550 AD by Austronesian peoples arriving on outrigger canoes from Borneo. These were joined around 1000 CE by Bantu migrants crossing the Mozambique Channel. Other groups continued to settle on Madagascar over time, each one making lasting contributions to Malagasy cultural life. The Malagasy ethnic group is often divided into eighteen or more sub-groups of which the largest are the Merina of the central highlands.
      </p>

      <p>
        Until the late 18th century, the island of Madagascar was ruled by a fragmented assortment of shifting socio-political alliances. Beginning in the early 19th century, most of the island was united and ruled as the Kingdom of Madagascar by a series of Merina nobles. The monarchy collapsed in 1897 when the island was absorbed into the French colonial empire, from which the island gained independence in 1960. The autonomous state of Madagascar has since undergone four major constitutional periods, termed Republics. Since 1992 the nation has officially been governed as a constitutional democracy from its capital at 
        
        <span class='geolink' data-madagascar-geolink-lat="-18.933333" data-madagascar-geolink-lng="47.516667" data-madagascar-geolink-zoom="8">Antananarivo.
        
        <span class="geolink-popup-content">
          <span class="title">Antananarivo</span>
          <span class="paragraph">
            This is the super cool capital. Read more about it and Baics in 
            <a class="madagascar-link" href="/madagascar/basics">Madagascar Basics</a>
          </span>
        </span>
          
        </span> However, in a popular uprising in 2009 the last elected president Marc Ravalomanana was made to resign and presidential power was transferred in March 2009 to Andry Rajoelina in a move widely viewed by the international community as a coup d'état.
      </p>

      <p>
        In 2012, the population of Madagascar was estimated at just over 22 million, 90 percent of whom live on less than two dollars per day. Malagasy and French are both official languages of the state. The majority of the population adheres to traditional beliefs, Christianity, or an amalgamation of both. Ecotourism and agriculture, paired with greater investments in education, health and private enterprise, are key elements of Madagascar's development strategy. Under Ravalomanana these investments produced substantial economic growth but the benefits were not evenly spread throughout the population, producing tensions over the increasing cost of living and declining living standards among the poor and some segments of the middle class.
      </p>

      <footer>
        <h6>Sources:</h6>
        <ol>
          <li><a href="http://en.wikipedia.org/wiki/Madagascar">http://en.wikipedia.org/wiki/Madagascar</a></li>
        </ol>
      </footer>
     
    </section>
    
    <section id="legalcontext">
      <header style='background-image: url(http://www.efta.int/sites/default/files/images/content/image-law.jpg)'>
      
      </header>
      <div class='large-12 columns'>
        <h1 class="subheader">Legal Context</h1>
        
        <p>Human Rights finds itself in various places in Madagascan Law.</p>
        
        <h3 class='subheader'>Constitution</h3>
        <p>
          The Madagascan constitution contains specific references to the protection of human rights. The preabmle references several International texts:
        </p>
        <blockquote class="panel large-8 columns large-centered">
          The sovereign Malagasy people, profoundly attached to their cultural and spiritual values, especially to the basis of national unity; affirming their belief in God the Creator; faithful to their international commitments; adopting the <a href="http://www.un.org/en/documents/udhr/">International Charter of Human Rights</a>, the <a href="http://www.achpr.org/instruments/achpr/">African Charter of Human Rights</a>, the <a href="http://www.unicef.org/crc/">Convention on Children's Rights</a>, and considering these to be an integral part of their law <br> <a style='float: right;' href="http://www.servat.unibe.ch/icl/ma00000_.html">Source</a>
        </blockquote>
        <p>
          Furthermore, there a specific articles that grant mostly first generation rights: (selection from <a href="http://www.paxgaea.com/HRMadagascarConst.html">http://www.paxgaea.com/HRMadagascarConst.html</a>)
        </p>
        <h5 class='subheader'>First Generation Rights:</h5>
        <ul>
          <li>
            <b>Article 9 [Rule of Law]</b>
            <br>
            The exercise and protection of individual rights and fundamental liberties shall be organized by law.
          </li>
          <li>
            <b>Article 13 [Liberty, Home, Communication, Nulla Poena Sine Lege, Legal Recourse, Counsel]</b>
            

            <br>(1) Everyone shall be assured of protection of his person, his residence, and his correspondence.
            <br>(2) No search may take place except under law on the written order of the competent judicial authority, except in cases of flagrante delicto.
            <br>(3) No one may be prosecuted, arrested, or detained except in cases determined by law, according to the forms prescribed by law.
            <br>(4) No one may be punished except by virtue of a law promulgated and published prior to the commission of the act to be punished.
            <br>(5) No one may be punished twice for the same deed.
            <br>(6) The law shall assure everyone access to justice; lack of resources will not be no obstacle.
            <br>(7) The State shall guarantee full, inviolable rights of defense in all jurisdictions and all stages of procedure, including the preliminary investigation, Judicial police, and court.
          </li>
          
          <li>
            <b>Article 15 [Eligibility, Electoral Rights]</b>
            <br>
            Every citizen shall have the right to be a candidate in the elections provided for in this Constitution, without discrimination based on 
            membership in a political party, under conditions established by law.
          </li>
          
          
        </ul>
        
        <h5 class="subheader">Second Generation Rights:</h5>
        <ul>
          <li>
            <b>Article 24 [Public Education]</b>
            <br>
            The State shall organize public education, free and accessible to all. Primary education shall be compulsory for all.

          </li>
          <li><b>Article 26 [Culture, Science]</b><br>(1) Everyone shall have the right to participate in the cultural life of the community, in scientific progress, and the resulting benefits. <br>(2) The State shall assure the promotion and protection of the natural cultural heritage, as well as artistic and literary production.</li>
          <li><b>Article 27 [Work, Public Employment]</b><br>(1) Work and professional training shall be a right and a duty for every citizen. <br>(2) Access to public institutions shall be open to every citizen with no conditions other than those of ability and aptitude.</li>
          <li><b>Article 28 [Workers' Equality]</b><br>No one may suffer injury in his employment because of sex, age, religion, opinion, origin, or political conviction.</li>
          <li><b>Article 29 [Remuneration]</b><br>Every citizen shall have the right, based on the quality and product of his work, to fair remuneration to assure him and his family a living appropriate to human dignity.</li>
          <li><b>Article 30 [Handicapped]</b><br>Through social agencies, the State shall attempt to provide for the needs of every citizen who, by reason of age or physical or mental 
          handicap, is unable to work.</li>
          
        </ul>
        <p>
          Additionally, Madagascar has ratified the following International Human Rights treaties:
        </p>
        
        <ol>
          <li>
            <h4><a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-4&chapter=4&lang=en">International Covenant on Civil and Political Rights</a></h4>
            <p>Introduced 1966, signed 1969, ratified 1971</p>
          </li>
          <li>
            <h4><a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-3&chapter=4&lang=en">International Covenant on Economic, Social and Cultural Rights</a></h4>
            <p>Introduced 1966, signed 1969, ratified 1971</p>
          </li>
          <li>
            <h4><a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-9&chapter=4&lang=en">Convention against Torture and Other Cruel, Inhuman or Degrading Treatment or Punishment</a></h4>
            <p>Introduced 1966, signed 1969, ratified 1971</p>
          </li>
          <li>
            <h4><a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-2&chapter=4&lang=en">International Convention on the Elimination of All Forms of Racial discrimination</a></h4>
            <p>Introduced 1966, signed 1967, ratified 1969</p>
          </li>
          <li>
            <h4><a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-8&chapter=4&lang=en">Convention on the Elimination of All Forms of Discrimination against Women</a></h4>
            <p>Introduced 1979, signed 1980, ratified 1989</p>
          </li>
          <li>
            <h4><a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-11&chapter=4&lang=en">Convention on the Rights of the Child</a></h4>
            <p>Introduced 1989, signed 1990, ratified 1991</p>
          </li>
        </ol>
        
        <p>It should be noted that Madagascar has failed to sign several significant International Human Rights treaties including the <a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-1&chapter=4&lang=en">Convention on the Prevention and Punishment of the Crime of Genocide</a> and the <a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-6&chapter=4&lang=en">Convention on the Non-Applicability of Statutory Limitations to War Crimes and Crimes Against Humanity</a></p>
        
      </div>
      
    </section>

  </div>
</div>


<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
<%= javascript_include_tag "madagascar", "data-turbolinks-track" => true %>