<%= stylesheet_link_tag    "madagascar", media: "all", "data-turbolinks-track" => true %>
<div id="splitter" class='split-pane'>
  
  <div id="map" class='split-pane-component'></div>
  <nav id="madagascar-nav">
    <a id="dropdown-trigger" class='button' href="#" data-dropdown="dropdown-list">Table of Contents</a>
    <ul id="dropdown-list" class="f-dropdown" data-dropdown-content>
      <li><a href="/madagascar/humanrights">Madagarscar & Human Rights</a></li>
      <li><a href="/madagascar/introduction">Introduction</a></li>
      <li><a href="/madagascar/legalcontext">Legal Context</a></li>
      <li><a href="/madagascar/timeline">Timeline of Events</a></li>
      <li><a href="/madagascar/integrity">ICCPR: Integrity of the Person</a></li>
      <li><a href="/madagascar/civilliberties">ICCPR: Respect for Civil Liberties </a></li>
      <li><a href="/madagascar/politicalrights">ICCPR: Respect for Political Rights </a></li>
      <li><a href="/madagascar/corruption">ICCPR: Government Corruption</a></li>
      <li><a href="/madagascar/environmental">ICESCR and Environmental Issues
</a></li>
      <li><a href="/madagascar/womanandchildren">Women/Children & Human Rights</a></li>
      <li><a href="/madagascar/trajectory">Trajectory - Future of Human Rights</a></li>
    </ul>
  </nav>
  <div id="splitter-divider"></div>
  <div id="madagascar-content" class=''>
    
    <section id="humanrights" style='z-index: 30;'>
      <header style='background-image: url(http://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Flag_of_Madagascar_%28bordered%29.svg/800px-Flag_of_Madagascar_%28bordered%29.svg.png); background-size: contain;'>
 
      </header>

      <h1 class="subheader">Human Rights in Madagascar</h1>
      <h4 class='subheader'>An IR352 Group project about the situation in Madagascar</h4>
      <p>Here is an overview of what you can find on this page:</p>
      <ul>
          <li><a class='madagascar-link' href="/madagascar/introduction">Introduction</a><p>A basic introduction and background information on Madagascar</p></li>
          <li><a class='madagascar-link' href="/madagascar/legalcontext">Legal Context</a><p>A primer on the current legal framework and circumstances</p></li>
          <li><a class='madagascar-link' href="/madagascar/timeline">Timeline of Events</a><p>A short description of recent Malagasy history</p></li>
          <li><a class='madagascar-link' href="/madagascar/integrity">ICCPR: Integrity of the Person</a><p>The situation revolving the basic integrity of the Person</p></li>
          <li><a class='madagascar-link' href="/madagascar/civilliberties">ICCPR: Respect for Civil Liberties </a><p>How well are civil liberties protected in Madagascar?</p></li>
          <li><a class='madagascar-link' href="/madagascar/politicalrights">ICCPR: Respect for Political Rights </a><p>How does Madagascar's political instability affect the people's political rights?</p></li>
          <li><a class='madagascar-link' href="/madagascar/corruption">ICCPR: Government Corruption</a><p>The state of Government corruption</p></li>
          <li><a class='madagascar-link' href="/madagascar/environmental">ICESCR and Environmental Issues
    </a><p>Second Generation Rights and Issues around the protection of the Environment</p></li>
          <li><a class='madagascar-link' href="/madagascar/womanandchildren">Women/Children & Human Rights</a><p>How does Madagascar protect particularly Women and Children?</p></li>
          <li><a class='madagascar-link' href="/madagascar/trajectory">Trajectory - Future of Human Rights</a><p>Where are things going?</p></li>
      </ul>
    </section>
    
    <section id="introduction">
      <header style='background-image: url(<%= image_path 'madagascar.jpg' %>)'>
      
      </header>
      <h1 class="">Republic of Madagascar: An Introduction</h1> 
      
      <p>
      Madagascar is the fourth largest island in the world, located in the Indian Ocean just off the southeastern coast of Africa. Due to its isolation, Madagascar has become a "jewel in biodiversity,"[1] home to many animal and plant species that exist nowhere else on the planet[2]. Over nine-tenths of the population is Malagasy, which in turn is divided into approximately twenty ethnic groups[3]. The official languages of Madagascar are Malagasy and French.
      </p><p>
          The country was under French colonial rule for 70 years, and gained independence in 1960. In the 1960s, Madagascar was among the "better-off African countries," due to its "educated elite, strong institutions, good infrastructure, and an income per capita above the developing country average."[4] However, the decades since have seen political and economic turmoil, with numerous regime changes and coups as well as a number of debilitating natural disasters including cyclones, droughts, and floods. Currently, Madagascar has one of the highest poverty rates in the world. The country has been in a political crisis since 2009, when the President Marc Ravalomanana was forcibly exiled through street riots and army dissent, and the mayor of the capital city of 
          <span class='geolink' data-madagascar-geolink-lat="-18.933333" data-madagascar-geolink-lng="47.516667" data-madagascar-geolink-zoom="8">Antananarivo
          
          <span class="geolink-popup-content">
            <span class="title">Antananarivo</span>
            <span class="paragraph">
                Madagascar's capital. Read more about Madagascar in <a class="madagascar-link" href="/madagascar/introduction">Introduction</a>
            </span>
          </span>
            
          </span>

          , Andry Rajoelina, took power in his place under the title of President of the High Authority of the Transition.[5]
      </p><p>
       The results of this unconstitutional assent to power have been manifold. Prior to the political crisis, outside aid made up 50% of the government's budget and 75% of public investments. Madagascar was heavily reliant on this aid, 80% of which came from four main donors: the World Bank, the European Commission, the United States, and the African Development Bank. The political instability that ensued in 2009 resulted in many donors cutting off aid and placing on hold new commitments to Madagascar, deepening the economic impact of this crisis on the Malagasy people.[6] Though Madagascar did not have a promising human rights record in the decades prior to this crisis, human rights violations have escalated in the years since Rajoelina's "transitional government" assumed power, largely due to the severe poverty racking the population coupled with corruption and inefficiency in the governing regime. January 2014 finally saw elections in Madagascar, in which Hery Rajaonarimampianina was chosen to take over as President, in a move that has been largely seen by the international community as a major step in restoring democracy and improving the state of affairs within the country.[7]
      </p>
      <p>Next: <a class='madagascar-link' href="/madagascar/legalcontext">Legal Context</a></p>
      <footer>
                 <ol>
                 <li> Jha, Alok. "Madagascar's record of biodiversity: 600 species discovered in a decade." The Guardian. http://www.theguardian.com/world/2011/jun/06/madagascar-biodiversity-600-species-discovered (accessed April 1, 2014).</li>
                 <li> "Madagascar profile." BBC News. http://www.bbc.com/news/world-africa-13861843 (accessed April 1, 2014).</li>
                 <li> Dresch, Jean. "Ethnic groups." Encyclopedia Britannica Online. http://www.britannica.com/EBchecked/topic/355562/Madagascar/279540/Ethnic-groups (accessed April 1, 2014).</li>
                 <li> "Madagascar Overview." The World Bank. http://www.worldbank.org/en/country/madagascar/overview (accessed April 1, 2014). Section: Context</li>
                 <li> "Madagascar Overview." The World Bank. http://www.worldbank.org/en/country/madagascar/overview (accessed April 1, 2014). Section: Context</li>
                 <li> "Madagascar Overview." The World Bank. http://www.worldbank.org/en/country/madagascar/overview (accessed April 1, 2014). Section: Strategy</li>
                 <li> "Madagascar profile." BBC News. http://www.bbc.com/news/world-africa-13861845 (accessed April 1, 2014).</li>
                 </ol></footer>     
    </section>
    
    <section id="legalcontext">
      <header style='background-image: url(http://www.efta.int/sites/default/files/images/content/image-law.jpg)'>
      
      </header>
      <div class='large-12 columns'>
        <h1 class="subheader">Legal Context</h1>
        
        <p>
        Madagascar's Constitution of 2010, despite being put in place by Andry Rajoelina's High Authority for Transition and seen as many as a tool to legitimize his government's rule [1], nevertheless openly references the nation's commitment to international human rights treaties and contains several articles offering legal protections to the Malagasy people consistent with international human rights standards.
        </p>
        <p>
        The preamble references "[Madagascar's] voluntarist participation in the dialog of nations, and making its own, notably:
        </p>
        <ul>
          <li>The International Charter of the Rights of Man;</li>
          <li>The Conventions relative to the rights of the child, to the rights of women, to the protection of the environment, to the social, economical, political, civil and cultural rights"</li>
        </ul>
        
        
        <p>The preamble also contains a list of stated aims underlying the government's rule:</p>
        <ul>
        <li>the preservation of peace, the practice of solidarity and the duty of preserving the national unity in the implementation of a policy of balanced and harmonious development;</li>
        <li>the respect for and protection of the fundamental freedoms and rights;</li>
        <li>the establishment of a State of law by virtue of which those governing and those governed are submitted to the same juridical norms, under the control of an independent Justice;</li>
        <li>the elimination of all forms of injustice, of corruption, of inequality and of discrimination;</li>
        <li>the rational and equitable administration of the natural resources for the needs of the development of the human being;</li>
        <li>the good governance in the conduct of public affairs, thanks to transparency in the administration and the accountability of the depositaries of the public power;</li>
        <li>the separation and the equilibrium of power exercised through democratic procedures;</li>
        <li>the implementation of effective decentralization, through the granting of the largest autonomy to the decentralized collectivities both at the level of the competences and level of financial means;</li>
        <li>the preservation of human security."</li>
      </ul>
        <p>
          Additionally, Madagascar has ratified the following International Human Rights treaties:
        </p>
        
        <ol>
          <li>
            <h4><a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-4&chapter=4&lang=en">International Covenant on Civil and Political Rights</a></h4>
            <p>Introduced 1966, signed 1969, ratified 1971</p>
          </li>
          <li>
            <h4><a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-3&chapter=4&lang=en">International Covenant on Economic, Social and Cultural Rights</a></h4>
            <p>Introduced 1966, signed 1969, ratified 1971</p>
          </li>
          <li>
            <h4><a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-9&chapter=4&lang=en">Convention against Torture and Other Cruel, Inhuman or Degrading Treatment or Punishment</a></h4>
            <p>Introduced 1966, signed 1969, ratified 1971</p>
          </li>
          <li>
            <h4><a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-2&chapter=4&lang=en">International Convention on the Elimination of All Forms of Racial discrimination</a></h4>
            <p>Introduced 1966, signed 1967, ratified 1969</p>
          </li>
          <li>
            <h4><a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-8&chapter=4&lang=en">Convention on the Elimination of All Forms of Discrimination against Women</a></h4>
            <p>Introduced 1979, signed 1980, ratified 1989</p>
          </li>
          <li>
            <h4><a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-11&chapter=4&lang=en">Convention on the Rights of the Child</a></h4>
            <p>Introduced 1989, signed 1990, ratified 1991</p>
          </li>
        </ol>
        
        <p>It should be noted that Madagascar has failed to sign several significant International Human Rights treaties including the <a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-1&chapter=4&lang=en">Convention on the Prevention and Punishment of the Crime of Genocide</a> and the <a href="http://treaties.un.org/Pages/ViewDetails.aspx?src=TREATY&mtdsg_no=IV-6&chapter=4&lang=en">Convention on the Non-Applicability of Statutory Limitations to War Crimes and Crimes Against Humanity</a></p>
        
        <p>
        Of the conventions Madagascar has signed onto, it has failed to invoke most severely those protections under the International Covenant on Civil and Political Rights, International Covenant on Economic Social and Cultural Rights, Convention against Torture, and the Convention on the Rights of the Child. The most important human rights abuses included the inability of the government to administer rule of law. This allowed for security force abuses, including unlawful killings, and mob violence. Other human rights violations reported during 2009-2014 are harsh prison conditions; arbitrary arrest and detention; lengthy pretrial detention; censorship; intimidation and arrest of and violence against journalists; restrictions on freedoms of speech, press, and assembly; curtailment of the right of citizens to choose their government; official corruption and impunity; societal discrimination, trafficking of women and children, and child labor, including forced child labor [2].The de facto regime in power from 2009-2013 failed to take steps to prosecute or punish officials who committed abuses and impunity.  
        </p><p>
        The main rights protected by the ICCPR are the right to life (Article 6), the ban of torture or cruel, inhuman or degrading treatment (Article 7), ban of slavery, slave-trade and forced labour (Article 8), the right to liberty and security of person, ban of arbitrary arrest or detention (Article 9), equality before the courts and tribunals (Article 14),  right to freedom of thought, conscience and religion (Article 19), right to peaceful assembly (Article 21), cultural rights of ethnic, religious or linguistic minorities (Article 27) [3]. Many of these have been violated by the de-facto government of Madagascar during the years of 2009-2013, which often disregarded the norms pertaining to physical and civil security, the most important of which being the arbitrary and unlawful deprivation of life, torture and other cruel, inhuman, or degrading treatment or punishment, denial of fair public trial and the arbitrary interference with privacy, family, home, or correspondence. It also infringed on norms pertaining to civil-political liberties, namely, freedom of speech and press, freedom of peaceful assembly and association, the right for political participation and government corruption. [4]
        </p><p>
        The International Covenant on Economic, Social, and Cultural Rights protects the right to self-determination and free use of natural wealth and resources (Article 1), the right to work (Article 6), the right to just and favorable work conditions (Article 7), the right to an adequate standard of living including adequate food, clothing, and housing (Article 11), and the right to education (Article 13). There are numerous rights violations in Madagascar that stem from government-allowed exploitation of the country's land and natural resources, such as government-negotiated land sales with transnational companies that directly violate the right of the people living and subsisting off the land. [5] Furthermore the extreme poverty levels coupled with government corruption and ineffective law enforcement account for rampant child labor, slavery-like practices, sex trafficking, and numerous other practices illegal under Malagasy and international law. [6]
        </p>
        
        <p>Next: <a class='madagascar-link' href="/madagascar/timeline">Timeline of Key Events in Madagascar</a></p>
        
       <footer> <ol>
                 <li>Tendi, Blessing-Miles. "Madagascar referendum could deepen political crisis." theguardian.com. http://www.theguardian.com/commentisfree/2010/nov/17/madagascar-referendum-political-crisis (accessed April 1, 2014).</li>
                 <li>United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2012 Human Rights Report, pp. 2  http://www.state.gov/documents/organization/204349.pdf, (accessed on April 3, 2014)
       Amnesty International, Madagascar Annual Report 2013, http://www.amnesty.org/en/region/madagascar/report-2013, (accessed on April 2, 2014)</li>
                 <li>Claiming Human Rights, Guide to International Procedures Available in Cases of Human Rights Violations in Africa, Main Rights Protected by the CCPR
       http://www.claiminghumanrights.org/ccpr_protected_rights.html?&L=escyeybij%2F%2F%2F%25...%2F%2F%2Findex2.php%3Foption%3Dcom_ckforms (accessed on April 2, 2014)
       </li>
                 <li>United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2012 Human Rights Report, pp. 2  http://www.state.gov/documents/organization/204349.pdf, (accessed on April 3, 2014)
       Amnesty International, Madagascar Annual Report 2013, http://www.amnesty.org/en/region/madagascar/report-2013, (accessed on April 2, 2014)
       </li>
       <li>"Written statement submitted by the Europe-Third World Centre (CETIM), a non-governmental organization in general consultative status." UN Human Rights Council. http://www.ecoi.net/file_upload/1930_1369236275_g1313694.pdf (accessed April 1, 2014).</li>
       <li> Shahinian, Gulnara. "Report of the Special Rapporteur on contemporary forms of slavery, including its causes and consequences, Addendum : Mission to Madagascar (10 to 19 December 2012)." UN Human Rights Council. http://www.refworld.org/docid/522f0a624.html (accessed April 1, 2014).
       </li>
               </ol></footer>
      </div>
      
    </section>

        <section id="timeline" style='z-index: 30;'>
          <header style='background-image: url(http://rue89.nouvelobs.com/sites/news/files/assets/image/2009/10/2009_10_10_Madagascar_Prix_Bayeux_2009.jpg); background-size: contain;'>
        
          </header>

          <h1 class="subheader">Timeline of Key Events in Madagascar</h1>

          <p><b>June 26, 1960</b> - Independence with Philibert Tsiranana as president.</p>
          <p><b>1972</b> - Popular unrest rose due to dissatisfaction with the Strong French presence in the country. The people called for the “Madagasification” of the country. Tsiranana dissolves government and hands power to army chief Gen. Gabriel Ramanantsoa as head of a provisional government. </p>
          <p><b>June 1975</b> - Lieutenant-Commander Didier Ratsiraka is named head of state after a coup. The country is renamed the Democratic Republic of Madagascar and Ratsiraka is elected president for a seven-year term in December.</p>
          <p><b>1976</b> - Ratsiraka nationalises large parts of the economy, forms the Arema party. Over the years he increased state control over the economy. Large-scale nationalization, state control of the economy, expensive unprofitable investments in prestige projects, a sharp drop in agricultural and industrial production and galloping inflation led to the collapse of economic and social structures and to growing impoverishment among the people. </p>
          <p><b>1986</b>- Ratsiraka switches to a policy of economic liberalism but kept quasi-dictatorial regime in place. </p>
          <p><b>August 10, 1991</b> - 500,000 demonstrators marched to the presidential palace in protest of the government and Ratsiraka ordered the opening of fire on them.</p>
          <p><b>October 1991</b> - The opposition forces agreed on a transition government,  led by Albert Zafy </p>
          <p><b>February 1993</b> - Zafy Elected as the country’s new President but popular hopes that he would help solve the problems of the country were Dashed. </p>
          <p><b>1996</b> - Zafy impeached. Ratsiraka voted back into office in fair elections. As in the past, the public media were turned into government propaganda vehicles and the public administration was re-politicised </p>
          <p><b>December 16, 2001</b> - Presidential elections resulted in Marc Ravalomanana winning a majority of the votes in the first ballot, thus defeating Ratsiraka. Although Ravalomanana did not obtain the absolute majority required to win the presidential election, he proclaimed himself the winner.</p>
          <p><b>April 2002</b> - High Constitutional Court declares Ravalomanana winner of the December polls after a recount. </p>
          <p><b>May 6, 2002</b> - Ravalomanana was officially installed as president of Madagascar..</p>
          <p><b>December, 2002</b> - Ravalomanana's party, I Love Madagascar (TIM), wins a parliamentary majority in elections which are seen as a test of popular support.</p>
          <p><b>October 2004</b> - World Bank, International Monetary Fund say they're writing off nearly half of Madagascar's debt - around $2bn.</p>
          <p><b>March 2005</b> - Madagascar is the first state to receive development aid from the US under a scheme to reward nations considered by Washington to be promoting democracy and market reforms.</p>
          <p><b>December 2006</b>  - The presidential election revealed that Ravalomanana won a large majority in the first ballot and was confirmed as president </p>
          <p><b>2007</b> - Ravalomanana referendum in 2007 that was designed to extend his presidential powers. Ravalomanana became increasingly less inclined to tolerate protest and dissent and jailed hundreds of his political opponents. There was also a deterioration in the living conditions of the majority of Malagasy.</p>
          <p><b>September 2007</b> - Some 80 per cent of voters abstained in the parliamentary elections of September 2007.</p>
          <p><b>January 2009</b> - Dozens are killed as a result of violent protests in Antananarivo following the closure of opposition TV and radio stations. Opposition leader Andry Rajoelina calls on the president to resign, and proclaims himself in charge of the country following the riots.</p>
          <p><b>February 2009</b>  - Dozens of people are killed after police open fire on an opposition demonstration in the capital, amid ongoing political turmoil.</p>
          <p><b>March 2009</b>- Ravalomanana abdicated and  handed over government to  Andry Rajoelina. Rajoelina assumes power with military and high court backing. Move is condemned internationally and isolates Madagascar.</p>
          <p><b>March 2010</b>- African Union imposes targeted sanctions on Mr Rajoelina and his administration.</p>
          <p><b>May 2010</b> - Mr Rajoelina sets a timetable for a constitutional referendum and elections. The timetable later slips.</p>
          <p><b>June 2010</b>- EU decides to suspend development aid to Madagascar in the absence of democratic progress.</p>
          <p><b>November 2010</b> - Voters in referendum endorse new constitution that would allow de facto leader Andry Rajoelina to run for president.</p>
          <p><b>September 2011</b> - Eight political parties sign agreement intended to pave the way for elections to be held within a year to re-establish democracy. The deal leaves Mr Rajoelina in charge of a transitional authority until elections scheduled for March 2012.</p>
          <p><b>May 2013</b> - Andry Rajoelina announces he will stand for the presidency in the next elections, after Mr Ravalomanana's wife Lalao says she will be a candidate. </p>
          <p><b>January 2014</b> - Hery Rajaonarimampianina sworn in as president after election</p>
          
          <p>Next: <a class='madagascar-link' href="/madagascar/integrity">Respect for the Integrity of the Person and Freedom from Arbitrary or Unlawful Deprivation of Life</a></p>
          
          <footer><ol>
                      <li> BBC News Africa, Madagascar Profile: A Chronology of Key Events
          http://www.bbc.com/news/world-africa-13864364 (accessed on April 2, 2014)</li>
                    </ol></footer>
        </section>
        
            <section id="integrity" style='z-index: 30;'>
              <header style='background-image: url(http://www.defenceweb.co.za/images/stories/JOINT/JOINT_NEW/Madagascar/Madagascar_military_501x300.jpg); background-size: contain;'>
            
              </header>

              <h3 class="subheader"> Respect for the Integrity of the Person and Freedom from Arbitrary or Unlawful Deprivation of Life</h3>

              <p>
              Several reports state that the government and/or its political agents committed arbitrary or unlawful killings, under both the Ravalomanana government in 2009 and Rajoelina's de facto government during the years of 2009-2013.The national police and gendarmerie were riddled with problems of corruption due to a lack of training and equipment and low salaries. Security forces’ ability to deal with civil unrest was hindered by chronic underfunding and unclear command structures. This lead to police and gendarmes using unwarranted lethal force during pursuit and arrest. Moreover, government institutions lack any effective means to monitor, inspect, or investigate security forces.[1]
              </p><p>
              Under the official pretext of fighting against the custom of dahalo, an ethnic group that traditionally steals Zebus (cattle) from the villages[2], law enforcement and security forces conducted military operations and carried out an operation named “Tandroka” (zebu horns) whose stated goal was to capture Remenabila, the dahalo chief, but whose mandate allowed for widespread security force violence.   During three “Tandroka” operations from September 2012 to April 2013, security forces committed massacres in the 
              
              
              <span class='geolink' data-madagascar-geolink-lat="-25.0441" data-madagascar-geolink-lng="46.3901" data-madagascar-geolink-zoom="12">Amboasary-South region
              
              <span class="geolink-popup-content">
                <span class="title">Amboasary Region</span>
                <span class="paragraph">
                    Under the official pretext of fighting against the custom of dahalo, an ethnic group that traditionally steals Zebus (cattle) from the villages[2], law enforcement and security forces conducted military operations and carried out an operation named “Tandroka” (zebu horns) whose stated goal was to capture Remenabila, the dahalo chief, but whose mandate allowed for widespread security force violence.   During three “Tandroka” operations from September 2012 to April 2013, security forces committed massacres in this region.
                </span>
                <span class="paragraph">
                    Read more about it in <a href="/madagascar/integrity" class="madagascar-link">ICCPR: Integrity of the Person</a>
                </span>
              </span>
                
              </span>
              
              , causing hundreds of casualties, including women and children.[3] Suspected dahalo were executed. Young people, including minors, were accused of being thieves and were mutilated or tortured to death with the encouragement of the police.[4]
            </p>
            
              <ul>
                
                <li>Media reported that during the year of 2013 security forces shot and killed at least 260 criminal suspects, compared with an estimated 100 in 2012.[5]</li>
              
<li>                In 2013, there were widespread state killings of civilians during 
 <span class='geolink' data-madagascar-geolink-lat="-23.3782197" data-madagascar-geolink-lng="44.840111" data-madagascar-geolink-zoom="12">Operation Tandroka
  <span class="geolink-popup-content">
    <span class="title">Operation Tandroka</span>
    <span class="paragraph">
        In 2013, there were widespread state killings of civilians during Operation Tandroka, and the government failed to protect hundreds of citizens from communal violence and mass murder,. Witnesses told Amnesty International that those unable to flee their homes were burned alive when security forces indiscriminately set fire to villages[6]
    </span>
    <span class="paragraph">
        Read more about it in <a href="/madagascar/integrity" class="madagascar-link">ICCPR: Integrity of the Person</a>
    </span>
  </span>
    
  </span>


, and the government failed to protect hundreds of citizens from communal violence and mass murder,. Witnesses told Amnesty International that those unable to flee their homes were burned alive when security forces indiscriminately set fire to villages[6]
              </li>              
                <li>At least 250 people were killed during the year of 2013 around the southern town of 
                
                <span class='geolink' data-madagascar-geolink-lat="-25.0253908" data-madagascar-geolink-lng="46.9715634" data-madagascar-geolink-zoom="12">Fort-Dauphin
                 <span class="geolink-popup-content">
                   <span class="title">Fort-Dauphin</span>
                   <span class="paragraph">
                      At least 250 people were killed during the year of 2013 around Fort Dauphin. Witnesses reported authorities were informed about an imminent attack on one village, in which at least 86 people were hacked to death by machetes, but had done nothing to prevent it.
                   </span>
                   <span class="paragraph">
                       Read more about it in <a href="/madagascar/integrity" class="madagascar-link">ICCPR: Integrity of the Person</a>
                   </span>
                 </span>
                   
                 </span>
                
                
                . Witnesses reported authorities were informed about an imminent attack on one village, in which at least 86 people were hacked to death by machetes, but had done nothing to prevent it. [7]
                </li>
                <li>In September 2013, 11 people were allegedly killed by security force and 95 homes in Elonty district were burned. [8]</li>

               <li> There no were developments in the January 2010 deaths of 150 to 300 persons nationwide during riots; the January death of at least 44 persons trapped in a burning department store in Antananarivo; the January killing of a boy outside the MBS television station; and the April shooting deaths of two protesters by security forces.[9] This trajectory indicates that investigations regarding the deaths of those from 2009-2013 will be unfruitful. </li>
                
              </ul>
              
              <h4 class="subheader">Torture and Other Cruel, Inhuman, or Degrading Treatment or Punishment
</h4>

              <p>The constitution and law in Madagascar state that the inviolability of the person must be respected and prohibit practices such as torture and any other form of degrading treatment or punishment. However, security forces have violated Madagascar’s constitution in this regard during both Ravalomanana’s and Rajoelina’s regime. Prison conditions were harsh and life threatening under both regimes as well. The judicial system was overcrowded and prison infrastructure was inadequate. Security personnel used beatings and destruction of property as punishment for alleged crimes and to coerce prisoners. Malnutrition and a lack of hygiene made detainees vulnerable to disease, including epidemics. Deteriorating prison infrastructure resulted in skin disease, insect infestation, and other health risks. Access to medical care was limited, although NGOs reported limited success in targeted sanitation activities at several facilities in the north. Ventilation, lighting, and temperature control in facilities were inadequate, indeed hardly existed. Church leaders and some NGOs reported that rape was commonplace in prisons and often used by prison guards and other inmates to humiliate prisoners: Severe overcrowding, due to weaknesses in the judicial system and inadequate prison infrastructure, was a problem. An example given my Amnesty International was a prison named 
              
              
              <span class='geolink' data-madagascar-geolink-lat="-18.91404" data-madagascar-geolink-lng="47.541968" data-madagascar-geolink-zoom="16">Antanimora Penitentiary
                 <span class="geolink-popup-content">
                   <span class="title">Antanimora Penitentiary</span>
                   <span class="paragraph">
                       Read more about the harsh prison conditions in <a href="/madagascar/integrity" class="madagascar-link">ICCPR: Integrity of the Person</a>
                   </span>
                 </span>
                   
                 </span>
                 
              , which was designed for 481 inmates but held nearly 3,000. Some prison populations were at 1,000 percent of capacity. Lengthy pretrial detention was pervasive. The country’s 82 prisons and detention centers had a capacity for 10,319 inmates but held 18,719. Moreover, minimum daily food rations (typically dry manioc or rice) were not always provided, partly due to extensive cuts to penitentiary budgets. In many cases, families and NGOs supplemented the daily rations of prisoners</p>
              
              
              <h4 class='subheader'>Arbitrary Arrest or Detention</h4>
              
              <p>The constitution and law prohibit arbitrary arrest and detention. However, the government did not always respect these provisions in practice. The government permitted arrest on vague charges and detained suspects for long periods without trial. There was also an increase in politically motivated detentions both before and after the March 2009 coup. Defendants have a general right to counsel and those who could not afford a lawyer were entitled to one provided by the state; however, many citizens were not aware of this right, and even if aware, most were too afraid to request one. The law also mandates that a criminal suspect be charged or released within 48 hours of arrest; however, the government often detained individuals for significantly longer periods before charging or releasing them. Poor record keeping, an outdated judicial system, an insufficient number of magistrates, lack of resources, and difficult access in remote areas contributed to lengthy pretrial detention. Many detainees actually spent a longer period in detention than they would have spent incarcerated following a sentence for the charges faced.</p>
              
              <ul>
                <li>On July 23 2013, security forces arrested Laza Razafiarison, presidential candidate and secretary general of an opposition party, for his role in leading political protests in Antananarivo calling for elections and the resignation of de facto President Andry Rajoelina. [10]</li>
                <li>Security forces failed to prevent or respond to societal violence and in some bases participated in and encouraged such violence. For example, between July 31 and August 7 2013, gendarmes and local villagers in the areas of Amboasary South and Ranomafana Tolagnaro allegedly killed five civilians and more than 100 presumed cattle thieves. At a press conference following these events, de facto minister of interior Florent Rakotoarisoa encouraged gendarmes and villagers to “pursue such efforts in combating criminals.”[11] </li>
                <li>According to the Ministry of Justice, around 50 per cent of prisoners have not been legally convicted.[12] </li>
                <li>During the 2010 March demonstrations in 
                
         
                <span class='geolink' data-madagascar-geolink-lat="-18.9068294" data-madagascar-geolink-lng="47.5256594" data-madagascar-geolink-zoom="14">Analakely
                   <span class="geolink-popup-content">
                     <span class="title">Analakely</span>
                      <span class="paragraph">Analakely is a suburb of Antananarivo. During the 2010 March demonstrations in Analakely political and religious activists Charles and Kathy Hilaire were arrested for "offense against national security" when brochures on the HMF were found in their car.</span>
                     <span class="paragraph">
                         Read more about it in <a href="/madagascar/integrity" class="madagascar-link">ICCPR: Integrity of the Person</a>
                     </span>
                   </span>
                     
                   </span>       
                   
                   
                , political and religious activists Charles and Kathy Hilaire were arrested for "offense against national security" when brochures on the HMF were found in their car.[13]</li>
                <li>On May 15 2010, opposition politician Ambroise Ravonison was arrested during a radio interview. Two other interviewees and three members of the radio's staff were injured, and the radio station's equipment was vandalized.[14]</li>
              </ul>
                
              <h4 class="subheader">Denial of Fair Public Trial</h4>
              
              <p>The judiciary's independence and impartiality were compromised by corruption and political influence, according to Independent Anticorruption Bureau (BIANCO) investigations [15]. Although the constitution and law provide for an independent judiciary, the judiciary was susceptible to influence from government authorities and corruption remained a serious problem. The absence of any legislative body meant that there is no check on executive power. Moreover, even though the law  provides for a presumption of innocence, this was often overlooked. [16]
</p>

              <h3 class="subheader">Recommendations to the Government of Madagascar</h3>
              <ol>
                <li>Authorities must strengthen its commitment to internationally recognized human rights standards and put an end to the ongoing human rights violations by law enforcement agencies. [17] </li>
                <li>Amnesty International’s Africa Programme Researcher called for the government to rein in its security forces and launch an independent investigation into allegations of human rights abuses   and suggested that the government should call on the international community including the UN to help establish a truly independent investigation.”   [18] He states that  “those responsible for these massive violations, including senior members of the security forces, must be brought to justice.” [19]</li>
                <li>To take measures to stop all searches, arrests, detentions, prosecutions and convictions that are arbitrary or inspired by political motive. [20]</li><li>To open investigations into all human rights violations committed during the current political crisis and to ensure that those responsible for human rights violations are brought to justice in accordance with international standards for fair trial. The outcome of the investigations should also be made public.[21]</li>
                <li>To ensure access to justice and reparations, including fair and adequate compensation, restitution, rehabilitations, and guarantees of non-repetition for victims of human rights violations by the security forces and for their families[22]</li>
                <li>To take urgent and adequate steps to strengthen the training of security forces in the use of
force and firearms in accordance with international human rights standards.[23]</li>
                <li>To ensure that those deprived of their liberty are informed promptly of the reasons for their detention, of any charges against them, and allowed prompt and regular access to a lawyer of their choice. [24]</li>
              </ol>
              
              <p>Next: <a class='madagascar-link' href="/madagascar/civilliberties">Respect for Civil Liberties</a></p>
              
              <footer>
              <ol>
                <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2010 Human Rights Report, pp. 6  http://www.state.gov/documents/organization/160130.pdf, (accessed on April 3, 2014)</li>
                 <li>IRIN Africa, Analysis: Madagascar’s Unforgiving Bandit Lands 
                                 http://www.irinnews.org/fr//report/95892/analysis-madagascar-s-unforgiving-bandit-lands (accessed on April 10, 2014)</li>

                <li>Amnesty International, Madagascar Must End Mass Killings and Investigate Security Forces, Published 20 November, 2012
                                http://www.amnesty.org/fr/news/madagascar-must-end-mass-killings-and-investigate-security-forces-2012-11-20 (accessed on April 5, 2014)</li>
                <li>CETIM, Violations of Human Rights in Madagascar
http://www.cetim.ch/en/interventions/363/violations-of-human-rights-in-madagascar (accessed on April 5, 2014)
</li>
                <li> Amnesty International, Madagascar Annual Report 2013, http://www.amnesty.org/en/region/madagascar/report-2013, (accessed on April 2, 2014)

</li>
                <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2012 Human Rights Report, pp. 2  http://www.state.gov/documents/organization/204349.pdf, (accessed on April 3, 2014)

</li>
                <li> Amnesty International, Madagascar Annual Report 2013, http://www.amnesty.org/en/region/madagascar/report-2013, (accessed on April 2, 2014)

</li>
                <li> Amnesty International, Madagascar Annual Report 2013, http://www.amnesty.org/en/region/madagascar/report-2013, (accessed on April 2, 2014)

</li>
                <li> Amnesty International, Madagascar Annual Report 2013, http://www.amnesty.org/en/region/madagascar/report-2013, (accessed on April 2, 2014)

</li>
                <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2012 Human Rights Report, pp. 2  http://www.state.gov/documents/organization/204349.pdf, (accessed on April 3, 2014)
</li>
                <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2010 Human Rights Report, pp. 3-5  http://www.state.gov/documents/organization/160130.pdf, (accessed on April 3, 2014)
</li><li>
United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 3-5  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014)
</li>
                <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 7  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014)
</li>
                <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 5  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014)
</li>
                <li>MISSIO, Pontifical Mission Society, Human Rights office, Human Rights and Human Dignity in Madagascar: A Country in Search of its Destiny. pp. 15 http://www.missio-hilft.de/media/thema/menschenrechte/studie/36-madagaskar-en.pdf (accessed on April 3, 2014)
</li>
                <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2010 Human Rights Report, pp. 5  http://www.state.gov/documents/organization/160130.pdf, (accessed on April 3, 2014)
</li>
                <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2010 Human Rights Report, pp. 6  http://www.state.gov/documents/organization/160130.pdf, (accessed on April 3, 2014)
</li>
                <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2010 Human Rights Report, pp. 9  http://www.state.gov/documents/organization/160130.pdf, (accessed on April 3, 2014)
</li>
                <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2010 Human Rights Report, pp. 9  http://www.state.gov/documents/organization/160130.pdf, (accessed on April 3, 2014)
</li>
                <li> Amnesty International, Suggested Recommendations to States Considered in the Seventh Round of Universal Periodic Review, February 2010, pp. 15 http://www.amnesty.org/en/library/asset/IOR41/030/2009/en/d9dc0f35-6f96-4f05-95dd-43c6c156ad61/ior410302009en.pdf (accessed on April 7, 2014)
</li>
                <li> Amnesty International, Madagascar: Human Rights Overlooked in Resolving the Current Political Crisis, Published on 6 July 2009, https://www.amnesty.org/en/for-media/press-releases/madagascar-human-rights-overlooked-resolving-current-political-crisis-20 (accessed on April 7, 2014)
</li>
                <li> Amnesty International, Suggested Recommendations to States Considered in the Seventh Round of Universal Periodic Review, February 2010, pp. 15 http://www.amnesty.org/en/library/asset/IOR41/030/2009/en/d9dc0f35-6f96-4f05-95dd-43c6c156ad61/ior410302009en.pdf (accessed on April 7, 2014)
</li>
                <li> UPR-Info, Responses to Recommendations: Madagascar. pp. 3 http://www.upr-info.org/sites/default/files/document/madagascar/session_7_-_february_2010/recommendationstomadagascar2010.pdf (accessed on April 7, 2014)
</li>
                <li> Amnesty International, Suggested Recommendations to States Considered in the Seventh Round of Universal Periodic Review, February 2010, pp. 15 http://www.amnesty.org/en/library/asset/IOR41/030/2009/en/d9dc0f35-6f96-4f05-95dd-43c6c156ad61/ior410302009en.pdf (accessed on April 7, 2014)
</li>
<li> Amnesty International, Suggested Recommendations to States Considered in the Seventh Round of Universal Periodic Review, February 2010, pp. 15 http://www.amnesty.org/en/library/asset/IOR41/030/2009/en/d9dc0f35-6f96-4f05-95dd-43c6c156ad61/ior410302009en.pdf (accessed on April 7, 2014)
</li>
<li> UPR-Info, Responses to Recommendations: Madagascar. pp. 3 http://www.upr-info.org/sites/default/files/document/madagascar/session_7_-_february_2010/recommendationstomadagascar2010.pdf (accessed on April 7, 2014)
</li>
<li> UPR-Info, Responses to Recommendations: Madagascar. pp. 4 http://www.upr-info.org/sites/default/files/document/madagascar/session_7_-_february_2010/recommendationstomadagascar2010.pdf (accessed on April 7, 2014)
</li>

                            </ol>
                            </footer>
            </section>
            
         <section id="civilliberties" style='z-index: 30;'>
           <header style='background-image: url(http://andrydago.files.wordpress.com/2013/10/eleanorroosevelthumanrights.png); background-size: contain;'>
         
           </header>

           <h1 class="subheader">Respect for Civil Liberties </h1>
           <h4 class="">Freedom of Speech and Press</h4>
             
            <p>The constitution and law provide for freedom of speech and of the press, reporters, media owners, and media outlets that criticized the government were threatened and in some cases, were treated violently. Journalists were sent to jail, and government security forces attacked residences of editors or owners. A 2010 September report by international NGO Freedom House on the status of press freedom categorized the country as "not free," diminished from the previous year's (2009) rating of "partially free." The report noted "both main parties routinely ignored constitutional protections for media freedom while in power, using harassment, intimidation, and censorship to restrict media operations. [1] As a result, news coverage was extremely biased. By 2013, The absence of a communications code protecting press freedom allowed authorities to prosecute journalists under the libel law and the criminal code whenever the content of their reporting offended the de facto regime. [2]
</p> 
            <ul>
              <li>In 2013, journalists reported having received threatening telephone calls from the Special Commission for Audiovisual Communication (CSCA) ordering them to stop broadcasting programs or printing articles perceived to be anti-regime. To maintain access to sources and remain safe, journalists practiced extensive self-censorship, and many private radio stations shifted to live call-in shows to distance themselves from editorial responsibility for content. [3]</li>
              <li>In the months leading up to presidential and legislative elections in 2013, de facto regime officials and their supporters closed opposition radio stations and filed court actions against “problematic” journalists. [4]</li>
              <li>Private radio station Free FM, which authorities shut down in 2012, remained closed most of the year. The station had organized public rallies calling for greater press freedom, and two of its journalists – Lalatiana Rakotondrazafy and Fidel Razara Pierre – were convicted in 2012 for provoking outrage against the regime. [5]</li>
              <li>After the coup attempt on November 17, 2010, the regime sent warning letters to Ma-TV, TV Plus, and two other stations for airing statements by the attempted coup leaders. The letters implied that airing anything that could be seen as opposing the regime or calling for an end to it could be considered a threat to public order and security and could lead to suspension and even withdrawal of operating permits. [6]</li>
            </ul>
            
            <h4 class="">Freedom of Peaceful Assembly and Association
</h4>
            <p>The constitution and law provide for freedom of assembly, but this right was restricted extensively during the year of 2013. Government officials and security forces regularly impeded opposition gatherings in locations around the country. The de facto regime also forbade protests during the holiday season (Christmas to New Year's Day) and during election periods (from election day until election results were official.) [7]</p>
            
            <ul>
              <li>In 2013, NGOs reported an unofficial standing order from authorities to continue denying the authorization of any political demonstrations or strikes and to intimidate any group that attempted to apply for such authorization. [8]</li>
              <li>Security forces suppressed demonstrations by opposition leaders and students through use of tear gas, firearms, and other violence. De facto authorities caused injuries to protesters and arrested their leaders. On July 23 2013 security forces in Antananarivo used tear gas to disperse demonstrators calling for elections and Rajoelina’s resignation. One person was injured and eight others arrested, including the leader of the demonstration. [9]
</li>
            </ul>
            
            <h4>Recommendations to the Governemtn of Madagascar</h4>
            
            <ol>
              <li>To ensure that no one is arrested for exercising their rights to freedom of expression, association
and peaceful assembly. [10]</li>
              <li>To open investigations into all threats and attacks against lawyers and journalists and to ensure
that those responsible are brought to justice in proceedings that fully respect international fair trial. [11] </li>
              <li>To ensure that no restrictions be put on the media, so that they may operate freely.[12]
</li>
            </ol>
            <p>Next: <a class='madagascar-link' href="/madagascar/politicalrights">Respect for Political Rights: The Right of Citizens to Change Their Government</a></p>
            <footer>
            <ol>
              <li>United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2010 Human Rights Report, pp. 11  http://www.state.gov/documents/organization/160130.pdf, (accessed on April 3, 2014)
</li>
              <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 11  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014)
</li>
              <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 11  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014)
</li>
              <li> http://www.state.gov/documents/organization/220342.pdf. pp. 11
</li>
              <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 11  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014) 

</li>
              <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 11  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014) 

</li>
              <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2010 Human Rights Report, pp. 13  http://www.state.gov/documents/organization/160130.pdf, (accessed on April 3, 2014)
</li>
              <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 14  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014)
</li>
              <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 14  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014)
</li>
              <li> Amnesty International, Suggested Recommendations to States Considered in the Seventh Round of Universal Periodic Review, February 2010, pp. 15 http://www.amnesty.org/en/library/asset/IOR41/030/2009/en/d9dc0f35-6f96-4f05-95dd-43c6c156ad61/ior410302009en.pdf (accessed on April 7, 2014)
</li>
              <li> Amnesty International, Suggested Recommendations to States Considered in the Seventh Round of Universal Periodic Review, February 2010, pp. 15 http://www.amnesty.org/en/library/asset/IOR41/030/2009/en/d9dc0f35-6f96-4f05-95dd-43c6c156ad61/ior410302009en.pdf (accessed on April 7, 2014)
</li>
              <li>UPR-Info, Responses to Recommendations: Madagascar. pp. 4 http://www.upr-info.org/sites/default/files/document/madagascar/session_7_-_february_2010/recommendationstomadagascar2010.pdf (accessed on April 7, 2014)
</li>
            </ol></footer>
         </section>
            
            <section id="politicalrights" style='z-index: 30;'>
              <header style='background-image: url(http://www.liberal-international.org/contentFiles/images/Madagascar%20+%20people.jpg); background-size: contain;'>
            
              </header>

              <h1 class="subheader">Respect for Political Rights: The Right of Citizens to Change Their Government</h1>

              <p>The constitution and law provide citizens the right to change their government peacefully, and citizens previously exercised this right in practice by voting in presidential, legislative, and municipal elections between 2006 and 2008. However, this right was effectively curtailed when opposition protests led to a coup and the overthrow of the elected government in March 2009. Citizens exercised their right to change their government during the year of 2013, when presidential and legislative elections were held. These were the first elections since Rajoelina took control following a military-backed coup in 2009. However, Opposition parties could not operate without restriction or outside interference. The regime often denied opposition parties the right to organize and publicize their opinions. [1]

        </p>
              <ul>
                <li>On June 12 2013, the de facto president unilaterally replaced 23 Transitional Senate members. [2]
</li> 
<li>On August 9 2013, de facto president Rajoelina dismissed seven of 22 chiefs of regions; the seven reportedly supported rival presidential candidates.
 [3]</li>
 <li>The de facto regime passed legislation to implement article 12 of the SADC Roadmap relating to political parties and the status of the opposition; article 12 outlines the administrative process required to register political parties with the Ministry of Interior and specifies that two or more parties legally can constitute a temporary coalition during elections. On November 27, however, the Council of Ministers adopted a decree that diminished the influence of opposition parties by allowing only the majority party or its coalition in the National Assembly to name the next prime minister, rather than submitting the matter to a vote.
 [4]</li>
 <li>In August the new CES declared eight of the 41 presidential candidates ineligible, including Rajoelina, Ravalomanana, and Ratsiraka. Opposition leaders, notably supporters of Ravalomanana and Ratsiraka, questioned the independence and neutrality of the new CE.
 [5]</li>
              </ul>
              
              <h4>Recommendations to the Government of Madagascar</h4>
              <ul>
                <li> To implement the International Covenant on Civil and Political Rights. 
</li>
              </ul>
              <p>Next: <a class='madagascar-link' href="/madagascar/corruption">Official Corruption and Government Transparency</a></p>
              <footer>
              <ol>
                <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 16  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014)
</li>
      <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 16  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014)
</li>
      <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 16  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014)
</li>
      <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 16  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014)
</li>
      <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 16  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014)
</li>
              </ol>
              </footer>
            </section>
            
              <section id="corruption" style='z-index: 30;'>
                <header style='background-image: url(http://www.findingdulcinea.com/docroot/dulcinea/fd_images/news/Africa/2009/march/US-May-Cut-Aid-to-Madagascar-Following-Transfer-of-Power/news/0/image.jpg); background-size: contain;'>
              
                </header>

                <h1 class="subheader">Official Corruption and Government Transparency</h1>

                <p>The law provides criminal penalties for official corruption; however, the government did not implement the law effectively, and corruption reportedly increased after the March 2009 coup. Corruption was rampant in the national police and gendarmerie. The World Bank's most recent Worldwide Governance Indicators reflected that corruption was a problem, as was impunity. NGOs and the media reported that anti-corruption efforts in recent years were more effective in pursuing low-level violators than in attacking corruption at the national government level. The general lack of rule of law created a permissive environment for illegal logging and the export of rare endemic hardwoods, primarily from the country's northern forests, which were perceived to have been facilitated by bribery at several levels of government. [1]

          </p>
          <p>Local economists estimated that 40 percent of the country’s gross domestic product stemmed from illicit activities and corruption, compared to 20 percent during the 1990s. NGOs and the media reported that anticorruption efforts in recent years were more effective in pursuing low-level violators than in attacking corruption at the national level. [2]
</p>

<p>In order to counteract these reproaches the government set up an Anti-Money Laundering Agency and an Independent Anti-Corruption Office. BIANCO’s independence is relative, however since the president appoints its director and BIANCO is supervised by the Committee for the Maintenance of Integrity, which is answerable to the president. 
</p> 
<p>Reports state that BIANCO did not address the corruption and abuses of power perpetrated by security forces and civilian officials and did not play a visible role in addressing corruption problems associated with the ongoing political crisis [3]. The implementation of these agencies has been weak due to lack of financing and political will.
</p>

  <h4>Recommendations to the Government of Madagascar</h4>
  <ul>
    <li>In order to make sure that the Anti-Money Laundering Agency and the Independent Anti-Corruption Office is unbiased and independent, the director of the agency should be answerable to an unbiased third party. 
</li>
  </ul>
  <p>Next: <a class='madagascar-link' href="/madagascar/environmental">ICESCR and Environmental Issues</a></p>
  <footer>
  <ol>
    <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2010 Human Rights Report, pp. 17  http://www.state.gov/documents/organization/160130.pdf, (accessed on April 3, 2014)
</li>
    <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 17  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014)</li>
    <li> United States Department of State, Bureau of Democracy, Human Rights, and Labor , Madagascar 2013 Human Rights Report, pp. 18  http://www.state.gov/documents/organization/220342.pdf (accessed on April 3, 2014)
</li>
  </ol>
  </footer>
              </section>
                  
    <section id="environmental" style='z-index: 30;'>
      <header style='background-image: url(http://images.nationalgeographic.com/wpf/media-live/photos/000/084/cache/nosy-be-island-madagascar_8403_600x450.jpg); background-size: contain;'>
    
      </header>

      <h1 class="subheader">ICESCR and Environmental Issues</h1>

      <h4>Context</h4>
      <p>Madagascar is a haven of ecological diversity that boasts 5% of global biodiversity on just 0.4% of the world's landmass but is also home to one of the poorest populations in the world. With over 2/3 of population in rural areas, poverty as high as 82%, and over 3/4 of the population reliant on natural resource-dependant activities for their livelihoods, the situation in Madagascar can be described as a "precarious human-environment balance." [1] The country also faces threats of high  population growth, climate change, and susceptibility to natural disasters. Madagascar is rich in natural resources, including timber-producing forestland, agricultural land, fisheries and marine resources, and extensive mineral assets that have led to the development of an extensive mining sector. [2] However, Madagascar's frequent periods of political instability have accompanied a failure to maintain a consistent environmental policy, which has led to exploitation of natural resources and high losses in income from tourism and other natural resource-based economic sectors. [3]
</p>

<p>         With the global population continually rising and food security a critical issue for all nations, recent years have witnessed a trend towards acquisition of arable land by governments or private investors in other countries, notably in Sub-Saharan Africa. A strategy by wealthy countries that lack sufficient natural resources has been to purchase land in this region to assure their own food security and for procurement of agrofuels, and is driven by the perception that land is plentiful, the climate is favorable to agricultural endeavors, and local labor is cheap, as is the land itself. [4] Furthermore, Madagascar's transitional government has allowed transnational corporations to enter the country for mining or agriculture at the expense of the people living on the land and subsisting off its resources. [5] The rising demand for land and resource access coupled with leaders' willingness to negotiate self-profiting deals with corporations at the expense of the Malagasy people reliant on aforementioned land and resources has led to a multitude of human rights abuses that directly violate the standards set by the International Covenant on Economic, Social, and Cultural Rights.
</p>

  <h4>Environmental Issues and Human Rights Abuses</h4>
  
  <p>Since 2012, the south of Madagascar has been repeatedly targeted by police & militia in "Tandroka" missions, through which they have committed massacres causing hundreds of casualties, including women and children and leading over 3,000 people to flee into major towns or the forest, leaving thousands homeless and destitute. The communities affected by the massacres, largely those in the Androy and Anosy regions, are those located on land that is rich in resources including industrial minerals, precious and semi-precious stones, gold, high quality diamonds, and oil. Through these violent measures, people are forcefully displaced from their homes, have their land confiscated by the government and then transferred from government leaders to transnational corporations for mining or agriculture. [6]
</p>

<p>Since the 2009 coup, several TNCs have been given access to Madagascar's land and resources after large-scale land-grabbing by national authorities despite operating on the basis of a transitional government with no legal authority to grant these permissions. Exploitation of natural resources carried out by TNCs is rampant, and occurs without consultation with the populations on the land or concern for the livelihoods. Furthermore, pollution of the environment, deforestation, and environmental degradation further deprives the Malagasy of their means of livelihood. [7]
</p>

<p>   Increasing investment in large-scale agricultural products also highlights the need to ensure adequate protections to waged agricultural workers, who are amongst the most vulnerable to food insecurity. [8] Fundamental rights are frequently violated in the agricultural sector. Bonded and forced labor practices as well as the exploitation of children are common in agricultural labor, largely as a consequence of extreme poverty: when families in rural areas are too poor to be able to send their children to school, there are often no viable alternatives for children other than to work under harsh and exploitative conditions in agriculture. [9] Responsible investment that protects local populations and that procures revenue for much-needed development and social services programs in Madagascar would benefit all parties involved, as current practices are done contrary to international human rights standards and have far-reaching negative consequences on all sectors of society.
</p>

<h4>Relevance of ICESCR Rights to Madagascar [10]
</h4>

<p><b>Article 1:</b> “All peoples have the right of self-determination...All peoples may, for their own ends, freely dispose of their natural wealth and resources... In no case may a people be deprived of its own means of subsistence.”
</p>

<p>Both the International Covenant on Civil and Political Rights and the International Covenant on
Economic, Social and Cultural Rights recognize the right to self-determination, defined in the ICESCR as the right of all peoples to freely dispose of their natural wealth and resources. Both stipulate that no people may be deprived of its own means of subsistence. Government action in Madagascar of selling land to investors without compensation for populations living on and earning their subsistence from the land's resources directly violates this right.</p>

<p><b>Article 2</b>: “Each State Party to the present Covenant undertakes to take steps... especially economic and technical, to the maximum of its available resources, with a view to achieving progressively the full realization of the rights recognized in the present Covenant.”
</p>

<p>The second article of the International Covenant on Economic, Social and Cultural Rights expresses the obligation of all States to ensure the progressive realization of the right to adequate food, to the maximum of all available resources. In addition, the State is required to engage in activities intended to strengthen people’s access to and utilization of resources and means to ensure their livelihood, including food security: it would be acting in violation of this obligation if it did not use the revenues made available to move as expeditiously as possible towards that goal. Thus land leases or purchases must be made more transparent, and the revenues used for the benefit of the local population. The revenues gained from these agreements should serve to fulfill the rights of the population, and profit considerations on the part of the government should not supersede human rights protections.
</p>

<p><b>Article 11:</b> “The States Parties to the present Covenant recognize the right of everyone to an adequate standard of living for himself and his family, including adequate food, clothing and housing… The States Parties to the present Covenant, recognizing the fundamental right of everyone to be free from hunger, shall take, individually and through international co-operation, the measures, including specific programmes, which are needed:

<br>(a) To improve methods of production, conservation and distribution of food by making full use of technical and scientific knowledge, by disseminating knowledge of the principles of nutrition and by developing or reforming agrarian systems in such a way as to achieve the most efficient development and utilization of natural resources;

<br>(b) Taking into account the problems of both food-importing and food-exporting countries, to ensure an equitable distribution of world food supplies in relation to need.

</p>

<p>Madagascar has been acting in violation of this right by leasing land to investors (both domestic or foreign), when doing so deprives local populations from access to productive resources indispensable to their livelihoods, without offering appropriate alternatives. The majority of the Malagasy people live in poverty, and food insecurity is a widespread issue in Madagascar. The government's negotiation of agreements with TNCs is also violating the right to food by doing so without ensuring that this will not result in food insecurity, for instance because this would create a dependency on foreign aid, as large proportions of the food produced thanks to the foreign investment would be shipped to the country of origin of the investor or sold on the international markets. By increasing dependency on international markets to achieve food security, the State is put at higher risk of domestic food insecurity: the volatility of prices on international markets will make them even less reliable in the future than they have been in the past. Furthermore, instances of forced evictions occurring in the context of government-perpetrated massacres do not follow international standards for evictions and leave entire villages homeless and destitute, violating the right to adequate housing.
</p>

<h4>Recommendations [11]</h4>

<p>Foreign investment and land leases or purchases have the potential to benefit all parties - investors, host State, and local populations. However, the agreements themselves must place greater consideration on the State's human rights obligations in order for this common enjoyment to occur.
</p>

<ul>
  <li>Negotiations should be undertaken with full transparency and involve the local populations whose lives will be affected. No land can be sold by the government without free consent by the population living on the land in question.
</li>
  <li>Investment revenue must be used to benefit the local population, such as through the building of infrastructure or development of state-sponsored social services in the under-developed realms of healthcare and education in Madagascar.
</li>
  <li>Investors should be encouraged to establish and promote farming systems that are labor  intensive. This requirement will ensure that investment agreements contribute to the fullest extent possible to reinforcing local livelihood options and in particular provide access to a living wage for the local population involved.
</li>
  <li>In order to guarantee that the local population is not placed at higher risk of food insecurity following land purchases by investors, an agreement should be made that requires a certain percentage of food grown to be sold in local markets and that this percentage should increase if global food prices rise.
</li>
  <li>High environmental standards must be complied with. The development of more sustainable farming approaches is directly linked to the right to food, because of the strong link between the state of the environment and food production. For these reasons, both investors and the host States should cooperate in identifying ways to ensure that the modes of agricultural production shall respect the environment, and shall not accelerate climate change, soil depletion, and the exhaustion of freshwater reserves.
</li>
<li>Agricultural workers should be provided with full protection of their human and labor rights under the law. Increasing protection of this category of workers should positively impact their ability to procure sufficient food to feed themselves and their families. 
</li>
</ul>
<p>Next: <a class='madagascar-link' href="/madagascar/womanandchildren">Women/Children & Human Rights</a></p>
<footer>
<ol>
  <li> "Madagascar Country Environmental Analysis (CEA) Taking Stock and Moving Forward." The World Bank. http://www-wds.worldbank.org/external/default/WDSContentServer/WDSP/IB/2013/05/27/000333037_20130527112825/Rendered/PDF/779930WP0MDG0C00Box377320B00PUBLIC0.pdf (accessed April 1, 2014). pg. x
</li>
  <li> "Madagascar Country Environmental Analysis (CEA) Taking Stock and Moving Forward." pg. 4-5
</li>
  <li> "Madagascar Country Environmental Analysis (CEA) Taking Stock and Moving Forward." pg. x
  </li>
  <li> De Schutter, Olivier. "Report of the Special Rapporteur on the right to food, Addendum Large-scale land acquisitions and leases: A set of minimum principles and measures to address the human rights challenge." UN Human Rights Council. http://www2.ohchr.org/english/bodies/hrcouncil/docs/13session/A-HRC-13-33-Add2.pdf (accessed April 1, 2014). pg. 5-6
  </li>
  <li> "Written statement submitted by the Europe-Third World Centre (CETIM), a non-governmental organization in general consultative status." UN Human Rights Council. http://www.ecoi.net/file_upload/1930_1369236275_g1313694.pdf (accessed April 1, 2014). pg. 3
</li>
  <li> "Written statement submitted by the Europe-Third World Centre (CETIM)." pg. 2-3
</li>
  <li> "Written statement submitted by the Europe-Third World Centre (CETIM)." pg. 4-5
</li>
  <li> "Report of the Special Rapporteur on the right to food, Addendum Large-scale land acquisitions and leases: A set of minimum principles and measures to address the human rights challenge." pg. 12
</li>
  <li> Shahinian, Gulnara. "Report of the Special Rapporteur on contemporary forms of slavery, including its causes and consequences, Addendum : Mission to Madagascar (10 to 19 December 2012)." UN Human Rights Council. http://www.refworld.org/docid/522f0a624.html (accessed April 1, 2014). pg. 19
</li>
  <li> "Report of the Special Rapporteur on the right to food, Addendum Large-scale land acquisitions and leases: A set of minimum principles and measures to address the human rights challenge." pg. 8-14
</li>
<li> "Report of the Special Rapporteur on the right to food, Addendum Large-scale land acquisitions and leases: A set of minimum principles and measures to address the human rights challenge." pg. 16-18
</li>
</ol>
</footer>
    </section>
    
    <section id="womanandchildren" style='z-index: 30;'>
      <header style='background-image: url(http://images.nationalgeographic.com/wpf/media-live/photos/000/084/cache/st-luce-madagascar_8404_600x450.jpg); background-size: contain;'>
    
      </header>

      <h1 class="subheader">Women/Children & Human Rights</h1>

      <h4>Context</h4>
      <p>Since the political crisis of Madagascar in 2009, economic growth has declined, a trajectory exacerbated by the world financial crisis. This has led to women and children being put at greater risk of violence and exploitation. [1] Although Malagasy women hold significantly more government and managerial positions than women in many continental African countries [2], girls born into poverty are in danger of becoming victim to a number of slavery-like practices in Madagascar. 70% of people live in rural communities that are often isolated and remote, without access to such basic needs as healthcare. Within these isolated communities, cultural norms that directly conflict with Malagasy and human rights law are often practiced without consequence from the country’s enforcement mechanisms. There are 18 main tribes in Madagascar, some of which have their own internal caste systems. Within the Merina tribe, the largest in the country, there is a "slave caste" that continues to be discriminated against in education opportunities and in marriages. Those in the lowest castes are particularly vulnerable to poverty and slavery-like practices due to this discrimination. [3]
</p>

<p>Malagasy children are regularly exploited in the agricultural and mining sectors as well as commercial sex tourism. Evidence suggests that children as young as eight years old are involved in the production of grapes, wine, tea, cocoa, and cotton. Children in various regions are involved in gemstone mining. Political and economic instability since the 2009 coup have caused an increase in unemployment, inflation, and poverty, which has significantly contributed to a decrease in school enrollment and an increase in child labor, particularly commercial sexual exploitation of young girls. [4]
</p>

<p>As stated by Gulnara Shahinian in the Report of the Special Rapporteur on contemporary forms of slavery, “The fight against poverty is at the heart of the fight against slavery in Madagascar.” [5] The lack of political stability and action on the part of the government to tackle extreme poverty has left large regions of the country in isolation and disrepair, without basic education or healthcare. There is a reigning divide between the government and the people, and Malagasy laws are not enforced at a local level. The judicial system is overrun with corruption, leading to impunity of perpetrators of slavery-like practices. [6]
</p>

<h4>Protection of Women and Children in Malagasy Law
</h4>

<p>Madagascar is party to several treaties specifically prohibiting child exploitation and slavery-like practices, including the United Nations Convention against Transnational Organized Crime and the Protocol to Prevent, Suppress and Punish Trafficking in Persons, Especially Women and Children; African Charter on Human and Peoples’ Rights; and African Charter on the Rights and Welfare of the Child. [7]
</p>

<p>Madagascar's Constitution guarantees the right to equality and freedom from torture and cruel and inhuman treatment, as well as the right to free compulsory primary education. Domestic legislation sets the minimum age of employment at 15 years old, and determines a number of regulations setting the acceptable work conditions and standards of employment of minors. Practices strictly prohibited include forced or compulsory labor, the employment of children as domestic servants, and all forms of violence against employed children. Children are not allowed to work in potentially harmful or dangerous environments. Human trafficking of children and adults is also prohibited. Additionally, the legal age for marriage is set at 18 years of age. [8]
</p>

<h4>Women and Children and Human Rights Violations</h4>

<p>The Report of the Special Rapporteur on contemporary forms of slavery, including its causes and consequences, presented before the United Nations, outlines a number of slavery-like practices in Madagascar that strictly violate international human rights treaties as well as domestic law (in many cases).
</p>

<p><b>1. Child Slavery in Mining and Quarrying [9]
</b></p>

<p>Children in Madagascar often work in situations of "debt bondage," whereby parents settle a debt with an employer by having the child work for wages as low as $0.23 to $1.06 per day until the debt is paid off. Work done by children in mining sector qualifies as a contemporary form of slavery due to this "debt bondage," forced labor, and the economic exploitation of the child. Unaccompanied children work from the age of 12, from five to ten hours a day. Children working in these conditions are at risk of physical harm both from the nature of the work as well as physical and sexual abuse.
</p>

<p>The mandatory age for school attendance is 6 to 16 years old. However, the number of children dropping out to work is on the rise, particularly since the crisis of 2009. Despite child labor being restricted by law, child slavery and employment in these sectors is widespread. Even though the law states that primary school education is free, families are responsible for the purchase of school materials. Enrollment costs $5 a year for primary schools, and $9 for secondary schools. The lack of employment opportunities after school leads many families to believe that it is not necessary to invest in their children’s education since it doesn’t lead to greater opportunities, especially since sending children to work at a young age can help financially support the family.
</p>

<p><b>2. Domestic Servitude [10]</b></p>

<p>Child domestic workers are very common, especially in urban areas. Hiring children is preferred by many for domestic work due to the perception that they are cheaper and easier to control than adult workers. For many young girls in small villages, becoming a domestic worker is seen as a desirable career choice due to lack of alternatives. Girls as young as 10 years old live and work in slavery-like conditions under contracts that are usually verbal and between the employer and the worker or the worker’s parents. Child domestic workers usually do not receive a salary; instead one is sent to their parents. They may work up to fifteen hours a day, and are giving varying living conditions, from their own bedroom to a place on the floor. Some are fed only with leftovers from family meals, and can be denied food as punishment. Child domestic servants are particularly vulnerable to abuse, and are beaten, denied food, or raped without consequence for the abusers.
</p>

<p>The root cause of child domestic servitude is poverty: with many economic sectors in decline, more families choose to send their children away to work in the hope that they'll be taken care of. There is little effective legislation regarding child domestic servants, few literacy classes or vocational training opportunities available, and no centers available to child domestic workers to seek refuge or rehabilitation even after instances of abuse.
</p>

<p><b>Servile Marriage [11]</b></p>

<p>The practice of forced marriage is common in some regions of Madagascar. Madagascar also has one of the highest child marriage prevalence rates in the world. Child marriage often seen by families as a "survival strategy" and is most common for girls born to poor families in rural areas. Even if a girl is enrolled in school, it is common for her family to withdraw her in order to marry, as women are seen as a means to secure wealth.  Many communities have traditional practices regarding marriage where girls are treated as commodities. In the 


<span class='geolink' data-madagascar-geolink-lat="-22.403611" data-madagascar-geolink-lng="46.125833" data-madagascar-geolink-zoom="12">Bara community
   <span class="geolink-popup-content">
     <span class="title">Bara community</span>
      <span class="paragraph">The Bara are an ethnicity majorly living in the Ihosy area. <a href="http://en.wikipedia.org/wiki/Bara_people">[Wikipedia]</a> It is common for a girl to betrothed at birth and her parents are given 10 oxen, the man can take his bride at the age of 7</span>
     <span class="paragraph">
         Read more about Women&Children issues in <a href="/madagascar/womanandchildren" class="madagascar-link">Women/Children & Human Rights</a>
     </span>
   </span>
     
   </span> 
, a girl is betrothed at birth and her parents are given 10 oxen; the man can take his bride at the age of 7. Girl markets exist in the region of 


<span class='geolink' data-madagascar-geolink-lat="-21.4476863" data-madagascar-geolink-lng="47.0857716" data-madagascar-geolink-zoom="12">Fianarantsoa
   <span class="geolink-popup-content">
     <span class="title">Fianarantsoa</span>
      <span class="paragraph">Fianarantsoa is a city in central Madagascar. Here, girl markets exist, where girls are sold as wives or prostitutes and compensation is given to her parents in the form of money or oxen. Due to poverty and familial pressures, girls have no choice in many of these circumstances. Victims of servile marriage are often unable to leave because their families and communities will not support them, for economic or traditional and cultural reasons.</span>
     <span class="paragraph">
         Read more about Women&Children issues in <a href="/madagascar/womanandchildren" class="madagascar-link">Women/Children & Human Rights</a>
     </span>
   </span>
     
   </span> 
   
   
, where girls are sold as wives or prostitutes and compensation is given to her parents in the form of money or oxen. Due to poverty and familial pressures, girls have no choice in many of these circumstances. Victims of servile marriage are often unable to leave because their families and communities will not support them, for economic or traditional and cultural reasons.
</p>

<p>Although the legal age for marriage is 18 years old in Madagascar, child marriage is still allowed with the consent of the parents. Child marriage puts girls at serious health risks of premature pregnancy and of contracting STIs, as well as domestic violence and abuse. Just as with other slavery-like practices discussed in this section, poverty is a significant factor in the prevalence of these practices. In these extreme circumstances, women and children become particularly vulnerable as all types of “services” they can provide are exchanged for money.
</p>

<h4>Recommendations [12]</h4>

<ul>
  <li>The Government needs to reinforce the existing legal framework to eradicate the worst forms of child labor, and put in place effective monitoring mechanisms that identify children at risk or victims of these practices.
</li>
  <li>Programs should be established in local communities to address caste discrimination and the stigma experienced by descendents of the slave caste.
</li>
  <li>Ensuring free education and literacy programmes for children would help at-risk children remain in the education system. Free vocational training, backed up with employment opportunities, is also crucial in providing teenagers and adults with viable economic alternatives to slavery-like practices. 
</li>
  <li>Strict regulations should be established and implemented in the business sector preventing children from being exploited in mining and agricultural sectors.
</li>
  <li>Strengthen the legal framework protecting Malagasy domestic workers and put mechanisms in place overseeing that work conditions are up to standards and that workers are receiving fair treatment.
</li>
  <li>Enforcement of the laws against human trafficking need to be improved. Girl markets need to be shut down and government should enforce the obligation to register all marriages so as to monitor their compliance with the law.
</li>
  <li>Strong measures need to be taken to increase women’s access to all levels of education and health-care, including family planning options, particularly in rural areas.
</li>
</ul>
<p>Next: <a class='madagascar-link' href="/madagascar/trajectory">Trajectory - Future of Human Rights</a></p>
<footer>

<ol>
  <li> "Report of the Special Rapporteur on contemporary forms of slavery, including its causes and consequences, Addendum : Mission to Madagascar (10 to 19 December 2012)." pg. 3
</li>
  <li> "Madagascar." Freedom House. http://freedomhouse.org/report/freedom-world/2013/madagascar#.U0suCfldWTD (accessed April 1, 2014).
</li>
  <li> "Report of the Special Rapporteur on contemporary forms of slavery, including its causes and consequences, Addendum : Mission to Madagascar (10 to 19 December 2012)." pg. 3-4
</li>
  <li> "2012 Findings on the Worst Forms of Child Labor." U.S. Department of Labor. http://www.dol.gov/ilab/reports/child-labor/findings/2012TDA/madagascar.pdf (accessed April 1, 2014).
</li>
  <li> "Report of the Special Rapporteur on contemporary forms of slavery, including its causes and consequences, Addendum : Mission to Madagascar (10 to 19 December 2012)." pg. 19
</li>
  <li> "Report of the Special Rapporteur on contemporary forms of slavery, including its causes and consequences, Addendum : Mission to Madagascar (10 to 19 December 2012)." pg. 19-20
</li>
  <li> "Report of the Special Rapporteur on contemporary forms of slavery, including its causes and consequences, Addendum : Mission to Madagascar (10 to 19 December 2012)." pg. 5
</li>
  <li> "Report of the Special Rapporteur on contemporary forms of slavery, including its causes and consequences, Addendum : Mission to Madagascar (10 to 19 December 2012)." pg. 5-7
</li>
  <li> "Report of the Special Rapporteur on contemporary forms of slavery, including its causes and consequences, Addendum : Mission to Madagascar (10 to 19 December 2012)." pg. 7-11
</li>
  <li> "Report of the Special Rapporteur on contemporary forms of slavery, including its causes and consequences, Addendum : Mission to Madagascar (10 to 19 December 2012)." pg. 11-14
</li>
  <li> "Report of the Special Rapporteur on contemporary forms of slavery, including its causes and consequences, Addendum : Mission to Madagascar (10 to 19 December 2012)." pg. 15-19
</li>
  <li> "Report of the Special Rapporteur on contemporary forms of slavery, including its causes and consequences, Addendum : Mission to Madagascar (10 to 19 December 2012)." pg. 19-22
</li>
</ol></footer>
    </section>
    
    <section id="trajectory" style='z-index: 30;'>
      <header style='background-image: url(http://pulitzercenter.org/sites/default/files/styles/overlay/public/12-30-13/electionballot.jpg); background-size: contain;'>
    
      </header>

      <h1 class="subheader">Trajectory - Future of Human Rights</h1>
      <p>Madagascar has been in a severe political and economic downturn since early 2009, when Andry Rajoelina assumed power and created the High Transitional Authority of Madagascar. Freedom House, a nongovernmental organization that assigns countries “freedom ratings” on a scale of 1-7 based on the extent to which they respect political freedom and civil liberties of their citizens, changed Madagascar’s political rights rating from 4 to 6 and its civil liberties rating from 3 to 4 following the unconstitutional regime change, which was accompanied by suspension of the Parliament, repression of protests from the opposition, and imposed limits on freedom on the press. [1]
</p>

<p> The following years only saw greater consequences from the prolonged political instability, and was characterized in Freedom House’s 2013 report as “increasing repression and physical and economic insecurity - including intimidation of journalists, violence in the south, and a rise in human trafficking.” [2] The condemnation from the international community for the power-grab and the subsequent withdrawal of foreign funding was significant in debilitating Madagascar’s economy and steering its population deeper into poverty. However, in January 2014 Hery Rajaonarimampianina took office after winning the first elections to take place since the 2009 coup. This has been lauded by the international community as an important step to free democracy in Madagascar.
</p>

<p> The U.S. issued a press release following the election delivering the statement, “The election of a new president represents an opportunity for Madagascar to make progress on strengthening democratic institutions, improving respect for human rights, combating corruption, and rebuilding its economy. We look forward to working productively with President-elect Rajaonarimampianina as Madagascar implements the roadmap for the restoration of democracy developed by the Southern African Development Community in 2011.” [3] In a similar vein, the spokesperson of the European Union, High Representative Catherine Ashton, delivered a statement “[urging] all political players in Madagascar to keep up their efforts in order to establish the new institutions resulting from the elections and thus complete the transition process which is provided for by the Roadmap and which should mark the end of the protracted political crisis in Madagascar which has dragged on since 2009." [4]
</p>

<p> The elections have created hope that this will be the beginning of a new era in Madagascar’s history, and the positive response of the international community bodes well for the reinstatement of aid and active development projects to create greater stability and economic growth in the nation of Madagascar, which along with a reigning commitment to free elections and political legitimacy will hopefully usher in a deeper commitment to human rights protections and both increased security and prosperity of the Malagasy people.
</p>

<footer>
<ol>
  <li> "Madagascar." Freedom House. http://freedomhouse.org/report/freedom-world/2010/madagascar#.U0uBPvldWTA (accessed April 1, 2014).
</li>
  <li> "Madagascar." Freedom House. http://freedomhouse.org/report/freedom-world/2013/madagascar#.U0suCfldWTD (accessed April 1, 2014).
</li>
  <li> U.S. Department of State. "Final Results of Madagascar's Presidential Election." U.S. Department of State. http://www.state.gov/r/pa/prs/ps/2014/01/220039.htm (accessed April 1, 2014).
</li>
  <li> European External Action Service. "Statement by the spokesperson of EU High Representative Catherine Ashton on the presidential and parliamentary elections in Madagascar." europa.eu. http://eeas.europa.eu/statements/docs/2013/131223_02_en.pdf (accessed April 1, 2014).
</li>
</ol></footer>
        </section>
  </div>
</div>


<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
<%= javascript_include_tag "madagascar", "data-turbolinks-track" => true %>