// Place all the styles related to the madagascar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// = require foundation
// = require leaflet

@import "bourbon";

#splitter {
  position: fixed;
  width:100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
#map {
  width: 40%;
  height: 100%;
}

#madagascar-content {
  position: fixed;
  right: 0%;
  width: 60%;
  height: 100%;
  top: 0%;
  
  &.collapse {

    @include perspective(1700px);
    @include perspective-origin(50% 30%);
    // @include transform(translateZ(-400px));  
    section {
      box-shadow: 1px -10px 52px -5px #252525;
      overflow: show;

      &:after {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 300%;
        @include linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.4));
      }
      
    }
  }

  section {

    &.current {
      z-index: 30;
    }

    @include transition(all 0.3s ease);
    background-color: #fff;
    // position: absolute;

    border: 1px solid #d8d8d8;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    border-bottom-width: 2px;
    // padding: 2%;
    max-height: 100%;
    overflow: scroll;
    position: absolute;
    width: 100%;

    header {
      height: 250px;
    }

    & > *:not(header) {
      padding: 0px 2%;
    }

    .geolink-popup-content {
      display: none;
      position: absolute;
    }

    footer {
      ol {
        li {
          font-size: 0.7em;
        }
      }
    }
  }
}

#madagascar-nav {
  z-index: 40;
  position: fixed;
  top: 10px;
  right: 20px;
}

.geolink {
  color: #008cba;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:before {
    margin-right: 4px;
    display: inline-block;
    content: "";
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABNklEQVQoU52SQVLDMAxFv0yn694AjsAR0gV02yPkBoSBruk+ZQg36A2abdIFOUKPUG6QdYfafFkJpMMMM602kmU9+1uWYGhvHxN8HV4gmCLITdySsIe4DdzoHY/Tti+XH+61TuHDnNAaAWn0an2s3kmJp/uYN1ChEBI8z1Lk1RJwzYkS+ASL2RKrag2RRmGByjseGp5cMjnhFYnFMKkBlIo572BNaGN8NU4Eq7rge0os7hqeSKmEVU6+TSKoeVPUUlFpeU8wrwjNeCKtl6nFQ7ArjnKtruSN1Y6PfogJHzLGhcW4jd5h92fviMLA4DJrhqd3BqID0YHDPfEEL5JaNwpSN9v/X3PybQbx+9PmXPwd+ppzBgD8Y37LeSOnY6h/SfsFdWVDzvfESbm25obPOEmjcTEc8m97TsJ1gEdh3gAAAABJRU5ErkJggg==);
    height: 14px;
    width: 14px;
  }
}

.leaflet-popup-content {
  .title {
    font-size: 1.3em;
    display: block;
    margin-bottom: 0.5em;
  }

  .paragraph {
    display: block;
    margin: 5px 0px;

  }
}

.leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}