<article class="blog_post">
  <h2>Oopsie!</h2>
  <p>
    We looked really hard, but I just couldn't find the page you were looking for. I'm pretty sure the NSA took it with them. But why don't you keep looking around. Or watch this awesome video.
  </p>
  <p>
    <div class="flex-video">
      <iframe width="560" height="315" src="//www.youtube.com/embed/ZNM0ENUCO5I" frameborder="0" allowfullscreen></iframe>
    </div>
    
  </p>
</article>